<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>農学概論</key>
			<false/>
			<key>作物生産学概論</key>
			<false/>
			<key>農業経営経済学概論</key>
			<false/>
			<key>園芸生産学概論</key>
			<false/>
			<key>家畜生産学概論</key>
			<false/>
			<key>病害虫制御学概論</key>
			<false/>
			<key>遺伝学</key>
			<false/>
			<key>作物学</key>
			<false/>
			<key>植物生理学</key>
			<false/>
			<key>蔬菜園芸学</key>
			<false/>
			<key>果樹園芸学</key>
			<false/>
			<key>植物病理学</key>
			<false/>
			<key>畜産学</key>
			<false/>
			<key>熱帯作物学</key>
			<false/>
			<key>植物育種学</key>
			<false/>
			<key>鑑賞園芸学</key>
			<false/>
			<key>害虫学</key>
			<false/>
			<key>農業経営学</key>
			<false/>
		</dict>
		<dict>
			<key>生物生産学特別実習</key>
			<false/>
			<key>農場実習1</key>
			<false/>
			<key>農場実習2</key>
			<false/>
			<key>植物生産学実験</key>
			<false/>
			<key>生物化学実験</key>
			<false/>
			<key>土壌学実験</key>
			<false/>
			<key>植物生産学特別実験</key>
			<false/>
			<key>欧文演習</key>
			<false/>
			<key>卒業論文</key>
			<false/>
		</dict>
		<dict>
			<key>作物形態形成学</key>
			<false/>
			<key>園芸発育生理学</key>
			<false/>
			<key>昆虫学</key>
			<false/>
			<key>作物栽培環境論</key>
			<false/>
			<key>植物情報管理学</key>
			<false/>
			<key>園芸遺伝資源学</key>
			<false/>
			<key>植物感染分子微生物学</key>
			<false/>
			<key>工芸作物学</key>
			<false/>
			<key>園芸品種創生論</key>
			<false/>
			<key>生物的防除論</key>
			<false/>
			<key>民族植物学</key>
			<false/>
			<key>肥料学概論</key>
			<false/>
			<key>土壌科学</key>
			<false/>
			<key>青果保蔵学</key>
			<false/>
			<key>生物化学1</key>
			<false/>
			<key>農林気象学</key>
			<false/>
			<key>分子生物学</key>
			<false/>
			<key>園芸環境論</key>
			<false/>
			<key>園芸資源化学</key>
			<false/>
			<key>農業経済学</key>
			<false/>
			<key>家畜管理学</key>
			<false/>
			<key>応用微生物学</key>
			<false/>
			<key>生物生産機械学</key>
			<false/>
			<key>特別講義</key>
			<false/>
			<key>雑草防除学</key>
			<false/>
			<key>農業政策学</key>
			<false/>
			<key>植物生産学実地研修</key>
			<false/>
			<key>アグリビジネス研修</key>
			<false/>
			<key>環境物理学実験</key>
			<false/>
			<key>農業土木実験</key>
			<false/>
		</dict>
	</array>
	<array>
		<dict>
			<key>農学概論</key>
			<false/>
			<key>作物生産学概論</key>
			<false/>
			<key>農業経営経済学概論</key>
			<false/>
			<key>園芸生産学概論</key>
			<false/>
			<key>家畜生産学概論</key>
			<false/>
			<key>病害虫制御学概論</key>
			<false/>
			<key>遺伝学</key>
			<false/>
			<key>畜産学</key>
			<false/>
			<key>作物学</key>
			<false/>
			<key>農業経営学</key>
			<false/>
			<key>動物行動学</key>
			<false/>
			<key>獣医生理学B</key>
			<false/>
			<key>家畜解剖学</key>
			<false/>
			<key>家畜育種学</key>
			<false/>
			<key>家畜繁殖学</key>
			<false/>
			<key>生物化学2</key>
			<false/>
			<key>家畜管理学</key>
			<false/>
			<key>生物統計学</key>
			<false/>
			<key>獣医微生物学1</key>
			<false/>
			<key>動物生殖工学</key>
			<false/>
			<key>栄養生理化学</key>
			<false/>
			<key>動物性食品学</key>
			<false/>
			<key>飼料生産利用学</key>
			<false/>
			<key>家畜疾病概論</key>
			<false/>
			<key>動物発生工学</key>
			<false/>
		</dict>
		<dict>
			<key>生物生産学特別実習</key>
			<false/>
			<key>農場実習1</key>
			<false/>
			<key>農場実習3</key>
			<false/>
			<key>家畜育種学実験</key>
			<false/>
			<key>家畜繁殖学実験</key>
			<false/>
			<key>家畜管理学実験</key>
			<false/>
			<key>家畜解剖学演習</key>
			<false/>
			<key>畜産化学実験</key>
			<false/>
			<key>情報処理演習</key>
			<false/>
			<key>欧文演習</key>
			<false/>
			<key>卒業論文</key>
			<false/>
		</dict>
		<dict>
			<key>応用微生物学</key>
			<false/>
			<key>分子生物学</key>
			<false/>
			<key>家畜衛生学</key>
			<false/>
			<key>肥料学概論</key>
			<false/>
			<key>食品化学</key>
			<false/>
			<key>野生・実験動物学</key>
			<false/>
			<key>動物遺伝資源学</key>
			<false/>
			<key>動物栄養・飼料化学</key>
			<false/>
			<key>農林気象学</key>
			<false/>
			<key>農業経済学</key>
			<false/>
			<key>土壌科学</key>
			<false/>
			<key>家畜臨床繁殖学</key>
			<false/>
			<key>食品分子機能学</key>
			<false/>
			<key>アグリビジネス研修</key>
			<false/>
			<key>家畜生産学実習1</key>
			<false/>
			<key>家畜生産学実習2</key>
			<false/>
			<key>家畜人工繁殖学実習</key>
			<false/>
			<key>環境物理学実験</key>
			<false/>
			<key>農業土木学実験</key>
			<false/>
		</dict>
	</array>
	<array>
		<dict>
			<key>農学概論</key>
			<false/>
			<key>作物生産学概論</key>
			<false/>
			<key>農業経営経済学概論</key>
			<false/>
			<key>園芸生産学概論</key>
			<false/>
			<key>家畜生産学概論</key>
			<false/>
			<key>病害虫制御学概論</key>
			<false/>
			<key>遺伝学</key>
			<false/>
			<key>作物学</key>
			<false/>
			<key>植物生理学</key>
			<false/>
			<key>蔬菜園芸学</key>
			<false/>
			<key>果樹園芸学</key>
			<false/>
			<key>植物病理学</key>
			<false/>
			<key>畜産学</key>
			<false/>
			<key>熱帯作物学</key>
			<false/>
			<key>植物育種学</key>
			<false/>
			<key>鑑賞園芸学</key>
			<false/>
			<key>害虫学</key>
			<false/>
			<key>農業経営学</key>
			<false/>
		</dict>
		<dict>
			<key>生物生産学特別実習</key>
			<false/>
			<key>農場実習1</key>
			<false/>
			<key>農場実習2</key>
			<false/>
			<key>植物生産学実験</key>
			<false/>
			<key>生物化学実験</key>
			<false/>
			<key>土壌学実験</key>
			<false/>
			<key>植物生産学特別実験</key>
			<false/>
			<key>欧文演習</key>
			<false/>
			<key>卒業論文</key>
			<false/>
		</dict>
		<dict>
			<key>作物形態形成学</key>
			<false/>
			<key>園芸発育生理学</key>
			<false/>
			<key>昆虫学</key>
			<false/>
			<key>作物栽培環境論</key>
			<false/>
			<key>植物情報管理学</key>
			<false/>
			<key>園芸遺伝資源学</key>
			<false/>
			<key>植物感染分子微生物学</key>
			<false/>
			<key>工芸作物学</key>
			<false/>
			<key>園芸品種創生論</key>
			<false/>
			<key>生物的防除論</key>
			<false/>
			<key>民族植物学</key>
			<false/>
			<key>肥料学概論</key>
			<false/>
			<key>土壌科学</key>
			<false/>
			<key>青果保蔵学</key>
			<false/>
			<key>生物化学1</key>
			<false/>
			<key>農林気象学</key>
			<false/>
			<key>分子生物学</key>
			<false/>
			<key>園芸環境論</key>
			<false/>
			<key>園芸資源化学</key>
			<false/>
			<key>農業経済学</key>
			<false/>
			<key>家畜管理学</key>
			<false/>
			<key>応用微生物学</key>
			<false/>
			<key>生物生産機械学</key>
			<false/>
			<key>特別講義</key>
			<false/>
			<key>雑草防除学</key>
			<false/>
			<key>農業政策学</key>
			<false/>
			<key>植物生産学実地研修</key>
			<false/>
			<key>アグリビジネス研修</key>
			<false/>
			<key>環境物理学実験</key>
			<false/>
			<key>農業土木実験</key>
			<false/>
		</dict>
	</array>
	<array>
		<dict>
			<key>情報数学</key>
			<false/>
			<key>数値解析</key>
			<false/>
			<key>電気回路学1及び演習</key>
			<false/>
			<key>情報理論</key>
			<false/>
			<key>計算機工学</key>
			<false/>
			<key>電磁気学及び演習</key>
			<false/>
		</dict>
		<dict>
			<key>アルゴリズムとデータ構造</key>
			<false/>
			<key>プログラミング言語2</key>
			<false/>
			<key>ソフトウェア工学</key>
			<false/>
			<key>オペレーティングシステム論</key>
			<false/>
			<key>プログラミング言語2演習</key>
			<false/>
			<key>オートマトンと言語理論</key>
			<false/>
			<key>データベース</key>
			<false/>
		</dict>
		<dict>
			<key>情報論理回路</key>
			<false/>
			<key>計算機ネットワーク</key>
			<false/>
			<key>マルチメディア</key>
			<false/>
			<key>自然言語処理</key>
			<false/>
			<key>計測工学</key>
			<false/>
			<key>人工知能</key>
			<false/>
			<key>情報通信工学</key>
			<false/>
			<key>情報セキュリティ</key>
			<false/>
			<key>信頼性システム</key>
			<false/>
			<key>画像情報工学</key>
			<false/>
			<key>コンピュータグラフィックス</key>
			<false/>
			<key>シミュレーション工学</key>
			<false/>
		</dict>
		<dict>
			<key>生体機構学</key>
			<false/>
			<key>システム工学</key>
			<false/>
			<key>電気回路学2</key>
			<false/>
			<key>生体情報工学1</key>
			<false/>
			<key>電子回路</key>
			<false/>
			<key>計算物理学</key>
			<false/>
			<key>電気化学</key>
			<false/>
			<key>生体情報工学2</key>
			<false/>
			<key>ヒューマンインターフェイス</key>
			<false/>
		</dict>
		<dict>
			<key>化学基礎</key>
			<false/>
			<key>地球科学基礎</key>
			<false/>
			<key>情報生体システム工学特別講義1</key>
			<false/>
			<key>情報生体システム工学特別講義2</key>
			<false/>
			<key>原子力・放射線と環境</key>
			<false/>
			<key>生産工学論</key>
			<false/>
			<key>エレクトロニクス論</key>
			<false/>
			<key>材料科学論</key>
			<false/>
			<key>科学技術論</key>
			<false/>
			<key>環境工学論</key>
			<false/>
			<key>エネルギー工学論</key>
			<false/>
			<key>工場見学</key>
			<false/>
			<key>インターンシップ</key>
			<false/>
		</dict>
	</array>
	<array>
		<dict>
			<key>原子力・放射線と環境</key>
			<false/>
			<key>生産工学論</key>
			<false/>
			<key>科学技術論</key>
			<false/>
			<key>材料科学論</key>
			<false/>
			<key>エネルギー工学論</key>
			<false/>
			<key>環境工学論</key>
			<false/>
		</dict>
		<dict>
			<key>熱・統計力学</key>
			<false/>
			<key>電気電子計測</key>
			<false/>
			<key>電気化学</key>
			<false/>
			<key>電気磁気学3</key>
			<false/>
			<key>電子材料工学</key>
			<false/>
			<key>電子デバイス工学</key>
			<false/>
			<key>光エレクトロニクス</key>
			<false/>
		</dict>
		<dict>
			<key>電気回路学3</key>
			<false/>
			<key>電気機器学2</key>
			<false/>
			<key>電気エネルギー工学2</key>
			<false/>
			<key>パワーエレクトロニクス</key>
			<false/>
			<key>高電圧・プラズマ工学</key>
			<false/>
			<key>システム制御工学</key>
			<false/>
		</dict>
		<dict>
			<key>プログラム基礎と演習</key>
			<false/>
			<key>デジタル電子回路</key>
			<false/>
			<key>電波工学</key>
			<false/>
			<key>システム工学</key>
			<false/>
			<key>応用数学3</key>
			<false/>
			<key>LSIシステム工学</key>
			<false/>
			<key>プログラム言語</key>
			<false/>
			<key>光通信工学</key>
			<false/>
		</dict>
		<dict>
			<key>電気数学基礎</key>
			<false/>
			<key>化学基礎</key>
			<false/>
			<key>地球化学基礎</key>
			<false/>
			<key>電気電子工学特別講義1</key>
			<false/>
			<key>電気電子工学特別講義2</key>
			<false/>
			<key>インターンシップ</key>
			<false/>
			<key>工場見学</key>
			<false/>
			<key>電気電子設計製図</key>
			<false/>
			<key>電気法規及び施設管理</key>
			<false/>
			<key>電波法</key>
			<false/>
		</dict>
	</array>
	<array>
		<dict>
			<key>地域施設計画</key>
			<false/>
			<key>学外実習</key>
			<false/>
			<key>地域環境史</key>
			<false/>
		</dict>
		<dict>
			<key>環境計画2</key>
			<false/>
			<key>環境工学2</key>
			<false/>
			<key>設備計画2</key>
			<false/>
			<key>設備計画演習</key>
			<false/>
		</dict>
		<dict>
			<key>建築デジタルデザイン論</key>
			<false/>
			<key>建築デザイン</key>
			<false/>
			<key>構造力学演習1</key>
			<false/>
			<key>構造力学演習2</key>
			<false/>
			<key>構造力学3</key>
			<false/>
			<key>建築材料の科学</key>
			<false/>
			<key>構造設計</key>
			<false/>
			<key>建築実験</key>
			<false/>
			<key>プログラミング演習</key>
			<false/>
			<key>基礎構造</key>
			<false/>
			<key>鉄筋コンクリート構造演習</key>
			<false/>
			<key>建築物の耐震設計</key>
			<false/>
			<key>インターンシップ</key>
			<false/>
		</dict>
		<dict>
			<key>情報システム</key>
			<false/>
			<key>化学基礎</key>
			<false/>
			<key>地球科学基礎</key>
			<false/>
		</dict>
		<dict>
			<key>原子力・放射線と環境</key>
			<false/>
			<key>生産工学論</key>
			<false/>
			<key>エレクトロニクス論</key>
			<false/>
			<key>環境工学論</key>
			<false/>
			<key>材料科学論</key>
			<false/>
			<key>科学技術論</key>
			<false/>
			<key>エネルギー論</key>
			<false/>
		</dict>
	</array>
	<array>
		<dict>
			<key>フレッシュマンセミナー</key>
			<false/>
			<key>海洋学総論</key>
			<false/>
			<key>材料力学基礎</key>
			<false/>
			<key>工業数学及び演習1</key>
			<false/>
			<key>構造力学</key>
			<false/>
			<key>土質力学1</key>
			<false/>
			<key>水理学1</key>
			<false/>
			<key>建設材料学</key>
			<false/>
			<key>工業数学及び演習2</key>
			<false/>
			<key>土質力学2</key>
			<false/>
			<key>水理学2</key>
			<false/>
			<key>測量学</key>
			<false/>
			<key>測量実習</key>
			<false/>
			<key>海洋物理環境学</key>
			<false/>
			<key>海岸環境工学</key>
			<false/>
			<key>構造解析学</key>
			<false/>
			<key>コンクリート構造設計学</key>
			<false/>
			<key>海洋土木工学総合演習1</key>
			<false/>
			<key>沿岸環境学</key>
			<false/>
			<key>海岸防災工学</key>
			<false/>
			<key>土木技術英語</key>
			<false/>
			<key>土木技術者倫理</key>
			<false/>
			<key>海洋土木工学総合演習2</key>
			<false/>
			<key>海洋土木デザイン工学1</key>
			<false/>
			<key>建設マネジメント</key>
			<false/>
			<key>海洋土木デザイン工学2</key>
			<false/>
			<key>卒業論文</key>
			<false/>
		</dict>
		<dict>
			<key>構造力学演習</key>
			<false/>
			<key>土質力学演習</key>
			<false/>
			<key>水理学演習</key>
			<false/>
			<key>構造解析学演習</key>
			<false/>
			<key>コンクリート構造設計学演習</key>
			<false/>
			<key>海洋物理環境学演習</key>
			<false/>
		</dict>
		<dict>
			<key>地球科学基礎</key>
			<false/>
			<key>海洋コンクリート工学</key>
			<false/>
			<key>環境汚染制御</key>
			<false/>
			<key>土木環境計画学</key>
			<false/>
			<key>流域保全工学</key>
			<false/>
			<key>耐震工学</key>
			<false/>
			<key>合成構造システム工学</key>
			<false/>
			<key>海洋建設システム工学</key>
			<false/>
		</dict>
		<dict>
			<key>プログラミング演習</key>
			<false/>
			<key>海洋建設工学実験1</key>
			<false/>
			<key>海洋建設工学実験2</key>
			<false/>
			<key>海洋建設工学実験3</key>
			<false/>
			<key>海岸測量実験</key>
			<false/>
			<key>海洋土木学外実習</key>
			<false/>
			<key>海工学実験</key>
			<false/>
		</dict>
		<dict>
			<key>化学基礎</key>
			<false/>
			<key>情報システム</key>
			<false/>
			<key>数値解析</key>
			<false/>
			<key>生産工学論</key>
			<false/>
			<key>エレクトロニクス論</key>
			<false/>
			<key>原子力・放射線と環境</key>
			<false/>
			<key>材料科学論</key>
			<false/>
			<key>科学技術論</key>
			<false/>
			<key>エネルギー工学論</key>
			<false/>
			<key>環境工学論</key>
			<false/>
		</dict>
	</array>
	<array>
		<dict>
			<key>農学概論</key>
			<false/>
			<key>作物生産学概論</key>
			<false/>
			<key>農業経営経済学概論</key>
			<false/>
			<key>園芸生産学概論</key>
			<false/>
			<key>家畜生産学概論</key>
			<false/>
			<key>病害虫制御学概論</key>
			<false/>
			<key>遺伝学</key>
			<false/>
			<key>作物学</key>
			<false/>
			<key>植物生理学</key>
			<false/>
			<key>蔬菜園芸学</key>
			<false/>
			<key>果樹園芸学</key>
			<false/>
			<key>植物病理学</key>
			<false/>
			<key>畜産学</key>
			<false/>
			<key>熱帯作物学</key>
			<false/>
			<key>植物育種学</key>
			<false/>
			<key>鑑賞園芸学</key>
			<false/>
			<key>害虫学</key>
			<false/>
			<key>農業経営学</key>
			<false/>
		</dict>
		<dict>
			<key>生物生産学特別実習</key>
			<false/>
			<key>農場実習1</key>
			<false/>
			<key>農場実習2</key>
			<false/>
			<key>植物生産学実験</key>
			<false/>
			<key>生物化学実験</key>
			<false/>
			<key>土壌学実験</key>
			<false/>
			<key>植物生産学特別実験</key>
			<false/>
			<key>欧文演習</key>
			<false/>
			<key>卒業論文</key>
			<false/>
		</dict>
		<dict>
			<key>作物形態形成学</key>
			<false/>
			<key>園芸発育生理学</key>
			<false/>
			<key>昆虫学</key>
			<false/>
			<key>作物栽培環境論</key>
			<false/>
			<key>植物情報管理学</key>
			<false/>
			<key>園芸遺伝資源学</key>
			<false/>
			<key>植物感染分子微生物学</key>
			<false/>
			<key>工芸作物学</key>
			<false/>
			<key>園芸品種創生論</key>
			<false/>
			<key>生物的防除論</key>
			<false/>
			<key>民族植物学</key>
			<false/>
			<key>肥料学概論</key>
			<false/>
			<key>土壌科学</key>
			<false/>
			<key>青果保蔵学</key>
			<false/>
			<key>生物化学1</key>
			<false/>
			<key>農林気象学</key>
			<false/>
			<key>分子生物学</key>
			<false/>
			<key>園芸環境論</key>
			<false/>
			<key>園芸資源化学</key>
			<false/>
			<key>農業経済学</key>
			<false/>
			<key>家畜管理学</key>
			<false/>
			<key>応用微生物学</key>
			<false/>
			<key>生物生産機械学</key>
			<false/>
			<key>特別講義</key>
			<false/>
			<key>雑草防除学</key>
			<false/>
			<key>農業政策学</key>
			<false/>
			<key>植物生産学実地研修</key>
			<false/>
			<key>アグリビジネス研修</key>
			<false/>
			<key>環境物理学実験</key>
			<false/>
			<key>農業土木実験</key>
			<false/>
		</dict>
	</array>
	<array>
		<dict>
			<key>農学概論</key>
			<false/>
			<key>作物生産学概論</key>
			<false/>
			<key>農業経営経済学概論</key>
			<false/>
			<key>園芸生産学概論</key>
			<false/>
			<key>家畜生産学概論</key>
			<false/>
			<key>病害虫制御学概論</key>
			<false/>
			<key>遺伝学</key>
			<false/>
			<key>作物学</key>
			<false/>
			<key>植物生理学</key>
			<false/>
			<key>蔬菜園芸学</key>
			<false/>
			<key>果樹園芸学</key>
			<false/>
			<key>植物病理学</key>
			<false/>
			<key>畜産学</key>
			<false/>
			<key>熱帯作物学</key>
			<false/>
			<key>植物育種学</key>
			<false/>
			<key>鑑賞園芸学</key>
			<false/>
			<key>害虫学</key>
			<false/>
			<key>農業経営学</key>
			<false/>
		</dict>
		<dict>
			<key>生物生産学特別実習</key>
			<false/>
			<key>農場実習1</key>
			<false/>
			<key>農場実習2</key>
			<false/>
			<key>植物生産学実験</key>
			<false/>
			<key>生物化学実験</key>
			<false/>
			<key>土壌学実験</key>
			<false/>
			<key>植物生産学特別実験</key>
			<false/>
			<key>欧文演習</key>
			<false/>
			<key>卒業論文</key>
			<false/>
		</dict>
		<dict>
			<key>作物形態形成学</key>
			<false/>
			<key>園芸発育生理学</key>
			<false/>
			<key>昆虫学</key>
			<false/>
			<key>作物栽培環境論</key>
			<false/>
			<key>植物情報管理学</key>
			<false/>
			<key>園芸遺伝資源学</key>
			<false/>
			<key>植物感染分子微生物学</key>
			<false/>
			<key>工芸作物学</key>
			<false/>
			<key>園芸品種創生論</key>
			<false/>
			<key>生物的防除論</key>
			<false/>
			<key>民族植物学</key>
			<false/>
			<key>肥料学概論</key>
			<false/>
			<key>土壌科学</key>
			<false/>
			<key>青果保蔵学</key>
			<false/>
			<key>生物化学1</key>
			<false/>
			<key>農林気象学</key>
			<false/>
			<key>分子生物学</key>
			<false/>
			<key>園芸環境論</key>
			<false/>
			<key>園芸資源化学</key>
			<false/>
			<key>農業経済学</key>
			<false/>
			<key>家畜管理学</key>
			<false/>
			<key>応用微生物学</key>
			<false/>
			<key>生物生産機械学</key>
			<false/>
			<key>特別講義</key>
			<false/>
			<key>雑草防除学</key>
			<false/>
			<key>農業政策学</key>
			<false/>
			<key>植物生産学実地研修</key>
			<false/>
			<key>アグリビジネス研修</key>
			<false/>
			<key>環境物理学実験</key>
			<false/>
			<key>農業土木実験</key>
			<false/>
		</dict>
	</array>
	<array>
		<dict>
			<key>農学概論</key>
			<false/>
			<key>作物生産学概論</key>
			<false/>
			<key>農業経営経済学概論</key>
			<false/>
			<key>園芸生産学概論</key>
			<false/>
			<key>家畜生産学概論</key>
			<false/>
			<key>病害虫制御学概論</key>
			<false/>
			<key>遺伝学</key>
			<false/>
			<key>作物学</key>
			<false/>
			<key>植物生理学</key>
			<false/>
			<key>蔬菜園芸学</key>
			<false/>
			<key>果樹園芸学</key>
			<false/>
			<key>植物病理学</key>
			<false/>
			<key>畜産学</key>
			<false/>
			<key>熱帯作物学</key>
			<false/>
			<key>植物育種学</key>
			<false/>
			<key>鑑賞園芸学</key>
			<false/>
			<key>害虫学</key>
			<false/>
			<key>農業経営学</key>
			<false/>
		</dict>
		<dict>
			<key>生物生産学特別実習</key>
			<false/>
			<key>農場実習1</key>
			<false/>
			<key>農場実習2</key>
			<false/>
			<key>植物生産学実験</key>
			<false/>
			<key>生物化学実験</key>
			<false/>
			<key>土壌学実験</key>
			<false/>
			<key>植物生産学特別実験</key>
			<false/>
			<key>欧文演習</key>
			<false/>
			<key>卒業論文</key>
			<false/>
		</dict>
		<dict>
			<key>作物形態形成学</key>
			<false/>
			<key>園芸発育生理学</key>
			<false/>
			<key>昆虫学</key>
			<false/>
			<key>作物栽培環境論</key>
			<false/>
			<key>植物情報管理学</key>
			<false/>
			<key>園芸遺伝資源学</key>
			<false/>
			<key>植物感染分子微生物学</key>
			<false/>
			<key>工芸作物学</key>
			<false/>
			<key>園芸品種創生論</key>
			<false/>
			<key>生物的防除論</key>
			<false/>
			<key>民族植物学</key>
			<false/>
			<key>肥料学概論</key>
			<false/>
			<key>土壌科学</key>
			<false/>
			<key>青果保蔵学</key>
			<false/>
			<key>生物化学1</key>
			<false/>
			<key>農林気象学</key>
			<false/>
			<key>分子生物学</key>
			<false/>
			<key>園芸環境論</key>
			<false/>
			<key>園芸資源化学</key>
			<false/>
			<key>農業経済学</key>
			<false/>
			<key>家畜管理学</key>
			<false/>
			<key>応用微生物学</key>
			<false/>
			<key>生物生産機械学</key>
			<false/>
			<key>特別講義</key>
			<false/>
			<key>雑草防除学</key>
			<false/>
			<key>農業政策学</key>
			<false/>
			<key>植物生産学実地研修</key>
			<false/>
			<key>アグリビジネス研修</key>
			<false/>
			<key>環境物理学実験</key>
			<false/>
			<key>農業土木実験</key>
			<false/>
		</dict>
	</array>
</array>
</plist>
