<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>初年次セミナー1</key>
			<false/>
			<key>初年次セミナー2</key>
			<false/>
			<key>大学と地域</key>
			<false/>
			<key>体育・健康科学理論</key>
			<false/>
			<key>体育・健康科学実習</key>
			<false/>
			<key>情報活用</key>
			<false/>
		</dict>
		<dict>
			<key>英語1A</key>
			<false/>
			<key>英語1B</key>
			<false/>
			<key>英語2A</key>
			<false/>
			<key>英語2B</key>
			<false/>
			<key>英語3</key>
			<false/>
			<key>英語4</key>
			<false/>
			<key>英語5</key>
			<false/>
			<key>英語6</key>
			<false/>
			<key>異文化理解入門</key>
			<false/>
		</dict>
	</array>
	<array>
		<dict>
			<key>なし</key>
			<false/>
		</dict>
	</array>
	<array>
		<dict>
			<key>初級1</key>
			<false/>
			<key>初級2</key>
			<false/>
		</dict>
		<dict>
			<key>世界の中のイスラーム</key>
			<false/>
			<key>アメーバ経営</key>
			<false/>
			<key>アラビア入門1</key>
			<false/>
			<key>「生き方」としての宗教論</key>
			<false/>
			<key>稲盛和夫の経営哲学(1)</key>
			<false/>
			<key>関わりあいの心理学</key>
			<false/>
			<key>鹿児島探訪-歴史-</key>
			<false/>
			<key>合唱1</key>
			<false/>
			<key>合奏演習1</key>
			<false/>
			<key>韓国語入門2</key>
			<false/>
			<key>「起業」-ビジネスの発見と創出</key>
			<false/>
			<key>グローバル人材育成(雲南)</key>
			<false/>
			<key>言語と文化</key>
			<false/>
			<key>現代企業経営論</key>
			<false/>
			<key>現代の日本政治</key>
			<false/>
			<key>行動科学</key>
			<false/>
			<key>国際経営学入門</key>
			<false/>
			<key>国際私法入門</key>
			<false/>
			<key>こころと「多様な生き方」を学ぶ</key>
			<false/>
			<key>古代東アジアの王陵</key>
			<false/>
			<key>自己理解の心理学</key>
			<false/>
			<key>自然学校へ行こう</key>
			<false/>
			<key>自然学校へ行こう・実践編1</key>
			<false/>
			<key>障害児教育入門</key>
			<false/>
			<key>書物に見る日本近代文学</key>
			<false/>
			<key>人種主義(レイシズム)を考える</key>
			<false/>
			<key>新聞で社会のいまを学ぶ</key>
			<false/>
			<key>心理学入門</key>
			<false/>
			<key>心理学概論</key>
			<false/>
			<key>森林経済学</key>
			<false/>
			<key>税と法律</key>
			<false/>
			<key>西洋史入門</key>
			<false/>
			<key>大学の日本史</key>
			<false/>
			<key>中国語入門2</key>
			<false/>
			<key>中国と東アジア世界</key>
			<false/>
			<key>著作権とビジネスコンプライアンス</key>
			<false/>
			<key>唐代の文学</key>
			<false/>
			<key>独語入門2</key>
			<false/>
			<key>日本国憲法</key>
			<false/>
			<key>人間と環境の心理学</key>
			<false/>
			<key>how language and music influences society</key>
			<false/>
			<key>発達臨床心理学</key>
			<false/>
			<key>犯罪心理学</key>
			<false/>
			<key>美術への誘い</key>
			<false/>
			<key>仏語入門2</key>
			<false/>
			<key>文化人類学の世界</key>
			<false/>
			<key>万葉集-古代人の心の言葉-</key>
			<false/>
			<key>モダン・アート入門</key>
			<false/>
			<key>ライフスキルの心理学</key>
			<false/>
			<key>アイデア・発明から特許へ</key>
			<false/>
			<key>医学・行動心理学入門</key>
			<false/>
			<key>稲盛和夫の経営哲学(2)</key>
			<false/>
			<key>鹿児島から考える多文化共生</key>
			<false/>
			<key>合唱2</key>
			<false/>
			<key>合奏演習2</key>
			<false/>
			<key>環境文学入門</key>
			<false/>
			<key>韓国語入門1</key>
			<false/>
			<key>狂言の世界</key>
			<false/>
			<key>暮らしから試みるニュース</key>
			<false/>
			<key>経営学入門</key>
			<false/>
			<key>経営原論</key>
			<false/>
			<key>コーポレート・ファイナンス</key>
			<false/>
			<key>自然学校へ行こう・実践編2</key>
			<false/>
			<key>実験医学・行動心理学</key>
			<false/>
			<key>社会学の世界</key>
			<false/>
			<key>16・17世紀イギリス演劇への招待</key>
			<false/>
			<key>初級フィリピノ語講座</key>
			<false/>
			<key>進化・文化と心理学</key>
			<false/>
			<key>新聞で日本と世界を学ぶ</key>
			<false/>
			<key>水産経済学</key>
			<false/>
			<key>戦後日本外交史</key>
			<false/>
			<key>地域ブランドを学ぶ</key>
			<false/>
			<key>中国語入門1</key>
			<false/>
			<key>哲学入門</key>
			<false/>
			<key>独語入門1</key>
			<false/>
			<key>日本史学</key>
			<false/>
			<key>日本史を読む</key>
			<false/>
			<key>農業経済学</key>
			<false/>
			<key>犯罪と社会</key>
			<false/>
			<key>仏語入門1</key>
			<false/>
			<key>ブラジルの社会と文化</key>
			<false/>
			<key>平和学-広島・長崎講座-</key>
			<false/>
			<key>陽明学入門</key>
			<false/>
			<key>外国語・中級A</key>
			<false/>
			<key>外国語・中級B</key>
			<false/>
		</dict>
	</array>
	<array>
		<dict>
			<key>基礎物理学実験</key>
			<false/>
			<key>基礎化学実験</key>
			<false/>
			<key>基礎生命科学実験</key>
			<false/>
			<key>基礎地学実験</key>
			<false/>
		</dict>
		<dict>
			<key>遺伝のしくみ</key>
			<false/>
			<key>宇宙科学</key>
			<false/>
			<key>Elements of Fisheries Science</key>
			<false/>
			<key>科学ジャーナリズム</key>
			<false/>
			<key>技術概論</key>
			<false/>
			<key>教養微分積分学</key>
			<false/>
			<key>暮らしの中のバイオ</key>
			<false/>
			<key>現代物理学入門</key>
			<false/>
			<key>行動生態学</key>
			<false/>
			<key>娯楽数学</key>
			<false/>
			<key>資源生産管理学</key>
			<false/>
			<key>地震と火山</key>
			<false/>
			<key>焼酎</key>
			<false/>
			<key>神経行動学</key>
			<false/>
			<key>水産海洋学</key>
			<false/>
			<key>水産生物学</key>
			<false/>
			<key>数理科学入門</key>
			<false/>
			<key>スポーツサイエンス</key>
			<false/>
			<key>スポーツ実習(バスケットボール)</key>
			<false/>
			<key>生物とリズム</key>
			<false/>
			<key>生命と物理</key>
			<false/>
			<key>相対論を学ぶ</key>
			<false/>
			<key>データ解析への入門</key>
			<false/>
			<key>動物の生態と社会</key>
			<false/>
			<key>動物の病気</key>
			<false/>
			<key>入門物理1</key>
			<false/>
			<key>乗り物の物理学</key>
			<false/>
			<key>分子生物学入門</key>
			<false/>
			<key>身近な話題の生物学</key>
			<false/>
			<key>無機化学入門</key>
			<false/>
			<key>ものづくり入門</key>
			<false/>
			<key>遊び心と科学</key>
			<false/>
			<key>新しい物質観</key>
			<false/>
			<key>医学生物学</key>
			<false/>
			<key>医学・脳科学入門</key>
			<false/>
			<key>依頼・介入関係の基礎概念</key>
			<false/>
			<key>宇宙の利用</key>
			<false/>
			<key>応用微生物学</key>
			<false/>
			<key>科学技術論</key>
			<false/>
			<key>基礎溶液化学</key>
			<false/>
			<key>教養線形代数学</key>
			<false/>
			<key>細胞生物学入門</key>
			<false/>
			<key>実験医学・脳科学</key>
			<false/>
			<key>情報数学1</key>
			<false/>
			<key>情報セキュリティ入門</key>
			<false/>
			<key>食品・化粧品・医薬品の有機化学</key>
			<false/>
			<key>植物学入門</key>
			<false/>
			<key>植物生態学</key>
			<false/>
			<key>初心者のためのサバイバル生物学</key>
			<false/>
			<key>森林科学</key>
			<false/>
			<key>水圏環境保全科学</key>
			<false/>
			<key>水産食品科学</key>
			<false/>
			<key>水産培養殖学</key>
			<false/>
			<key>スポーツ実習(バドミントン)</key>
			<false/>
			<key>生化学実験1</key>
			<false/>
			<key>生命科学</key>
			<false/>
			<key>生命科学情報活用1</key>
			<false/>
			<key>生命と炭素化合物</key>
			<false/>
			<key>地球と環境</key>
			<false/>
			<key>地球をつくった人々</key>
			<false/>
			<key>DNAの科学</key>
			<false/>
			<key>電気電子工学入門</key>
			<false/>
			<key>身近な化学</key>
			<false/>
		</dict>
		<dict>
			<key>基礎数学入門</key>
			<false/>
			<key>基礎物理学入門</key>
			<false/>
			<key>基礎化学入門A</key>
			<false/>
			<key>基礎化学入門B</key>
			<false/>
			<key>基礎生物学入門</key>
			<false/>
			<key>基礎統計学入門</key>
			<false/>
		</dict>
	</array>
	<array>
		<dict>
			<key>稲盛哲学:稲盛研究の最高峰が伝授</key>
			<false/>
			<key>いのちと地域を守る防災学1</key>
			<false/>
			<key>Intercultural Understanding and Acceptance</key>
			<false/>
			<key>かごしま教養プログラム</key>
			<false/>
			<key>環境ビジネス1</key>
			<false/>
			<key>キャリアデザイン</key>
			<false/>
			<key>共生のためのフェア・トレード</key>
			<false/>
			<key>グローバル・イニシアティブ概論</key>
			<false/>
			<key>グローバル社会を生きる</key>
			<false/>
			<key>自然体験活動入門講座</key>
			<false/>
			<key>実用英語短期講座</key>
			<false/>
			<key>社会人としての救急措置入門</key>
			<false/>
			<key>進取の精神を学ぶ</key>
			<false/>
			<key>人生における出会いの意義と役割</key>
			<false/>
			<key>生命化学への招待</key>
			<false/>
			<key>大学生のための社会人基礎力入門</key>
			<false/>
			<key>大学で学ぶ</key>
			<false/>
			<key>地球環境保全のための国際協力</key>
			<false/>
			<key>防災フィールドワーク</key>
			<false/>
			<key>アメーバ経営における稲盛経営哲学</key>
			<false/>
			<key>鹿児島大学に学ぶ</key>
			<false/>
			<key>手話入門</key>
			<false/>
			<key>消費者教育</key>
			<false/>
			<key>進取の精神と鹿児島大学</key>
			<false/>
			<key>全人的歯科医療実践学</key>
			<false/>
			<key>男女共同参画社会とキャリアデザイン</key>
			<false/>
			<key>地域リサーチ・スタートアップ</key>
			<false/>
			<key>日本で学ぶ国際関係</key>
			<false/>
		</dict>
		<dict>
			<key>国際協力論</key>
			<false/>
			<key>奄美の民族文化</key>
			<false/>
			<key>稲盛和夫のリーダー論</key>
			<false/>
			<key>英語によるグローバル人材育成</key>
			<false/>
			<key>海外研修基礎コースinカリフォルニア</key>
			<false/>
			<key>科学技術北米研修</key>
			<false/>
			<key>鹿児島探訪-環境-</key>
			<false/>
			<key>鹿児島探訪-文化-</key>
			<false/>
			<key>かごしまフィールドスクール</key>
			<false/>
			<key>環境と進化の科学</key>
			<false/>
			<key>がんはなぜおこるのか</key>
			<false/>
			<key>口と顔の科学</key>
			<false/>
			<key>国際異文化交流1</key>
			<false/>
			<key>国際関係論</key>
			<false/>
			<key>国際協力体験講座-タイコース-</key>
			<false/>
			<key>国際協力体験講座-ミャンマーコース-</key>
			<false/>
			<key>最先端医療を創出するバイオ研究</key>
			<false/>
			<key>自然学校インターンシップ1</key>
			<false/>
			<key>実践キャリアデザイン</key>
			<false/>
			<key>島のしくみ</key>
			<false/>
			<key>滞在者のためのコミュニケーションスキル:中国編</key>
			<false/>
			<key>地域環境論</key>
			<false/>
			<key>地域キャリアデザイン</key>
			<false/>
			<key>農家民泊体験講座:里山の家庭教師</key>
			<false/>
			<key>派遣留学1</key>
			<false/>
			<key>派遣留学2</key>
			<false/>
			<key>ピアカウンセリング入門</key>
			<false/>
			<key>ヒトの身体の仕組みと働き</key>
			<false/>
			<key>ヒトの病気の成り立ちと予防1</key>
			<false/>
			<key>放射線の世界</key>
			<false/>
			<key>北米におけるグローバル人材育成</key>
			<false/>
			<key>南太平洋多島域</key>
			<false/>
			<key>屋久島の環境文化1-植生-</key>
			<false/>
			<key>屋久島の環境文化3-産業-</key>
			<false/>
			<key>有機農業1 新しい食と農のかたち</key>
			<false/>
			<key>有機農業3 田んぼでアウトドア</key>
			<false/>
			<key>留学生のための異文化理解</key>
			<false/>
			<key>いのちと地域を守る防災学2</key>
			<false/>
			<key>海外研修基礎コースin東南アジア</key>
			<false/>
			<key>海外研修基礎コースinハワイ</key>
			<false/>
			<key>鹿児島探訪-循環型社会と世界遺産-</key>
			<false/>
			<key>鹿児島探訪-地域産業-</key>
			<false/>
			<key>鹿児島の四季 キャンパス俳句会</key>
			<false/>
			<key>環境ビジネス2</key>
			<false/>
			<key>九州の古墳文化</key>
			<false/>
			<key>健康を創り、守る</key>
			<false/>
			<key>国際異文化交流2</key>
			<false/>
			<key>国際感覚を持つバイテク人材育成</key>
			<false/>
			<key>自己理解・他者理解と障害理解</key>
			<false/>
			<key>自然インターンシップ2</key>
			<false/>
			<key>自然環境保全と世界遺産</key>
			<false/>
			<key>ヒトの病気の成り立ちと予防2</key>
			<false/>
			<key>森・ひと・体験</key>
			<false/>
			<key>屋久島の環境文化2-生き物-</key>
			<false/>
			<key>屋久島の環境文化4-生活と文化-</key>
			<false/>
			<key>有機農業2 有機農業入門</key>
			<false/>
		</dict>
	</array>
</array>
</plist>
