<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>初年次セミナー1</key>
			<false/>
			<key>初年次セミナー2</key>
			<false/>
			<key>大学と地域</key>
			<false/>
			<key>体育・健康科学理論</key>
			<false/>
			<key>体育・健康科学実習</key>
			<false/>
			<key>情報活用</key>
			<false/>
		</dict>
		<dict>
			<key>英語1A</key>
			<false/>
			<key>英語1B</key>
			<false/>
			<key>英語2A</key>
			<false/>
			<key>英語2B</key>
			<false/>
			<key>英語3</key>
			<false/>
			<key>英語4</key>
			<false/>
			<key>英語5</key>
			<false/>
			<key>英語6</key>
			<false/>
			<key>異文化理解入門</key>
			<false/>
		</dict>
	</array>
	<array>
		<dict>
			<key>なし</key>
			<false/>
		</dict>
	</array>
	<array>
		<dict>
			<key>初級1</key>
			<false/>
			<key>初級2</key>
			<false/>
			<key>中級1</key>
			<false/>
			<key>中級2</key>
			<false/>
		</dict>
		<dict>
			<key>８８単位</key>
			<false/>
		</dict>
	</array>
	<array>
		<dict>
			<key>基礎物理学実験</key>
			<false/>
			<key>基礎化学実験</key>
			<false/>
			<key>基礎生命科学実験</key>
			<false/>
			<key>基礎地学実験</key>
			<false/>
		</dict>
		<dict>
			<key>６７単位</key>
			<false/>
		</dict>
		<dict>
			<key>基礎数学入門</key>
			<false/>
			<key>基礎物理学入門</key>
			<false/>
			<key>基礎化学入門A</key>
			<false/>
			<key>基礎化学入門B</key>
			<false/>
			<key>基礎生物入門</key>
			<false/>
			<key>基礎統計学入門</key>
			<false/>
		</dict>
	</array>
	<array>
		<dict>
			<key>３５単位</key>
			<false/>
		</dict>
		<dict>
			<key>６４単位</key>
			<false/>
		</dict>
	</array>
</array>
</plist>
