<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict/>
		<dict/>
		<dict>
			<key>プログラミング序論</key>
			<false/>
			<key>情報生体システム工学基礎</key>
			<false/>
			<key>フレッシュマンセミナー</key>
			<false/>
			<key>確率統計序論</key>
			<false/>
			<key>プログラミング序論演習</key>
			<false/>
			<key>応用数学1</key>
			<false/>
			<key>応用数学1演習</key>
			<false/>
			<key>情報生体システム工学実験1</key>
			<false/>
			<key>応用数学2</key>
			<false/>
			<key>応用数学2演習</key>
			<false/>
			<key>プログラミング言語1</key>
			<false/>
			<key>プログラミング言語1演習</key>
			<false/>
			<key>情報生体システム工学実験2</key>
			<false/>
			<key>情報生体システム工学実験3</key>
			<false/>
			<key>システム工学英語</key>
			<false/>
			<key>情報倫理学</key>
			<false/>
			<key>情報生体システム工学実験4</key>
			<false/>
			<key>卒業研究</key>
			<false/>
		</dict>
		<dict>
			<key>情報数学</key>
			<false/>
			<key>数値解析</key>
			<false/>
			<key>電気回路学1及び演習</key>
			<false/>
			<key>情報理論</key>
			<false/>
			<key>計算機工学</key>
			<false/>
			<key>電磁気学及び演習</key>
			<false/>
		</dict>
		<dict>
			<key>アルゴリズムとデータ構造</key>
			<false/>
			<key>プログラミング言語2</key>
			<false/>
			<key>ソフトウェア工学</key>
			<false/>
			<key>オペレーティングシステム論</key>
			<false/>
			<key>プログラミング言語2演習</key>
			<false/>
			<key>オートマトンと言語理論</key>
			<false/>
			<key>データベース</key>
			<false/>
		</dict>
		<dict>
			<key>情報論理回路</key>
			<false/>
			<key>計算機ネットワーク</key>
			<false/>
			<key>マルチメディア</key>
			<false/>
			<key>自然言語処理</key>
			<false/>
			<key>計測工学</key>
			<false/>
			<key>人工知能</key>
			<false/>
			<key>情報通信工学</key>
			<false/>
			<key>情報セキュリティ</key>
			<false/>
			<key>信頼性システム</key>
			<false/>
			<key>画像情報工学</key>
			<false/>
			<key>コンピュータグラフィックス</key>
			<false/>
			<key>シミュレーション工学</key>
			<false/>
		</dict>
		<dict>
			<key>生体機構学</key>
			<false/>
			<key>システム工学</key>
			<false/>
			<key>電気回路学2</key>
			<false/>
			<key>生体情報工学1</key>
			<false/>
			<key>電子回路</key>
			<false/>
			<key>計算物理学</key>
			<false/>
			<key>電気化学</key>
			<false/>
			<key>生体情報工学2</key>
			<false/>
			<key>ヒューマンインターフェイス</key>
			<false/>
		</dict>
		<dict>
			<key>化学基礎</key>
			<false/>
			<key>地球科学基礎</key>
			<false/>
			<key>情報生体システム工学特別講義1</key>
			<false/>
			<key>情報生体システム工学特別講義2</key>
			<false/>
			<key>原子力・放射線と環境</key>
			<false/>
			<key>生産工学論</key>
			<false/>
			<key>エレクトロニクス論</key>
			<false/>
			<key>材料科学論</key>
			<false/>
			<key>科学技術論</key>
			<false/>
			<key>環境工学論</key>
			<false/>
			<key>エネルギー工学論</key>
			<false/>
			<key>工場見学</key>
			<false/>
			<key>インターンシップ</key>
			<false/>
		</dict>
	</array>
	<array>
		<dict/>
		<dict/>
		<dict>
			<key>プログラミング序論</key>
			<false/>
			<key>情報生体システム工学基礎</key>
			<false/>
			<key>フレッシュマンセミナー</key>
			<false/>
			<key>確率統計序論</key>
			<false/>
			<key>プログラミング序論演習</key>
			<false/>
			<key>応用数学1</key>
			<false/>
			<key>応用数学1演習</key>
			<false/>
			<key>情報生体システム工学実験1</key>
			<false/>
			<key>応用数学2</key>
			<false/>
			<key>応用数学2演習</key>
			<false/>
			<key>プログラミング言語1</key>
			<false/>
			<key>プログラミング言語1演習</key>
			<false/>
			<key>情報生体システム工学実験2</key>
			<false/>
			<key>情報生体システム工学実験3</key>
			<false/>
			<key>システム工学英語</key>
			<false/>
			<key>情報倫理学</key>
			<false/>
			<key>情報生体システム工学実験4</key>
			<false/>
			<key>卒業研究</key>
			<false/>
		</dict>
		<dict>
			<key>情報数学</key>
			<false/>
			<key>数値解析</key>
			<false/>
			<key>電気回路学1及び演習</key>
			<false/>
			<key>情報理論</key>
			<false/>
			<key>計算機工学</key>
			<false/>
			<key>電磁気学及び演習</key>
			<false/>
		</dict>
		<dict>
			<key>アルゴリズムとデータ構造</key>
			<false/>
			<key>プログラミング言語2</key>
			<false/>
			<key>ソフトウェア工学</key>
			<false/>
			<key>オペレーティングシステム論</key>
			<false/>
			<key>プログラミング言語2演習</key>
			<false/>
			<key>オートマトンと言語理論</key>
			<false/>
			<key>データベース</key>
			<false/>
		</dict>
		<dict>
			<key>情報論理回路</key>
			<false/>
			<key>計算機ネットワーク</key>
			<false/>
			<key>マルチメディア</key>
			<false/>
			<key>自然言語処理</key>
			<false/>
			<key>計測工学</key>
			<false/>
			<key>人工知能</key>
			<false/>
			<key>情報通信工学</key>
			<false/>
			<key>情報セキュリティ</key>
			<false/>
			<key>信頼性システム</key>
			<false/>
			<key>画像情報工学</key>
			<false/>
			<key>コンピュータグラフィックス</key>
			<false/>
			<key>シミュレーション工学</key>
			<false/>
		</dict>
		<dict>
			<key>生体機構学</key>
			<false/>
			<key>システム工学</key>
			<false/>
			<key>電気回路学2</key>
			<false/>
			<key>生体情報工学1</key>
			<false/>
			<key>電子回路</key>
			<false/>
			<key>計算物理学</key>
			<false/>
			<key>電気化学</key>
			<false/>
			<key>生体情報工学2</key>
			<false/>
			<key>ヒューマンインターフェイス</key>
			<false/>
		</dict>
		<dict>
			<key>化学基礎</key>
			<false/>
			<key>地球科学基礎</key>
			<false/>
			<key>情報生体システム工学特別講義1</key>
			<false/>
			<key>情報生体システム工学特別講義2</key>
			<false/>
			<key>原子力・放射線と環境</key>
			<false/>
			<key>生産工学論</key>
			<false/>
			<key>エレクトロニクス論</key>
			<false/>
			<key>材料科学論</key>
			<false/>
			<key>科学技術論</key>
			<false/>
			<key>環境工学論</key>
			<false/>
			<key>エネルギー工学論</key>
			<false/>
			<key>工場見学</key>
			<false/>
			<key>インターンシップ</key>
			<false/>
		</dict>
	</array>
	<array>
		<dict/>
		<dict/>
		<dict>
			<key>プログラミング序論</key>
			<false/>
			<key>情報生体システム工学基礎</key>
			<false/>
			<key>フレッシュマンセミナー</key>
			<false/>
			<key>確率統計序論</key>
			<false/>
			<key>プログラミング序論演習</key>
			<false/>
			<key>応用数学1</key>
			<false/>
			<key>応用数学1演習</key>
			<false/>
			<key>情報生体システム工学実験1</key>
			<false/>
			<key>応用数学2</key>
			<false/>
			<key>応用数学2演習</key>
			<false/>
			<key>プログラミング言語1</key>
			<false/>
			<key>プログラミング言語1演習</key>
			<false/>
			<key>情報生体システム工学実験2</key>
			<false/>
			<key>情報生体システム工学実験3</key>
			<false/>
			<key>システム工学英語</key>
			<false/>
			<key>情報倫理学</key>
			<false/>
			<key>情報生体システム工学実験4</key>
			<false/>
			<key>卒業研究</key>
			<false/>
		</dict>
		<dict>
			<key>情報数学</key>
			<false/>
			<key>数値解析</key>
			<false/>
			<key>電気回路学1及び演習</key>
			<false/>
			<key>情報理論</key>
			<false/>
			<key>計算機工学</key>
			<false/>
			<key>電磁気学及び演習</key>
			<false/>
		</dict>
		<dict>
			<key>アルゴリズムとデータ構造</key>
			<false/>
			<key>プログラミング言語2</key>
			<false/>
			<key>ソフトウェア工学</key>
			<false/>
			<key>オペレーティングシステム論</key>
			<false/>
			<key>プログラミング言語2演習</key>
			<false/>
			<key>オートマトンと言語理論</key>
			<false/>
			<key>データベース</key>
			<false/>
		</dict>
		<dict>
			<key>情報論理回路</key>
			<false/>
			<key>計算機ネットワーク</key>
			<false/>
			<key>マルチメディア</key>
			<false/>
			<key>自然言語処理</key>
			<false/>
			<key>計測工学</key>
			<false/>
			<key>人工知能</key>
			<false/>
			<key>情報通信工学</key>
			<false/>
			<key>情報セキュリティ</key>
			<false/>
			<key>信頼性システム</key>
			<false/>
			<key>画像情報工学</key>
			<false/>
			<key>コンピュータグラフィックス</key>
			<false/>
			<key>シミュレーション工学</key>
			<false/>
		</dict>
		<dict>
			<key>生体機構学</key>
			<false/>
			<key>システム工学</key>
			<false/>
			<key>電気回路学2</key>
			<false/>
			<key>生体情報工学1</key>
			<false/>
			<key>電子回路</key>
			<false/>
			<key>計算物理学</key>
			<false/>
			<key>電気化学</key>
			<false/>
			<key>生体情報工学2</key>
			<false/>
			<key>ヒューマンインターフェイス</key>
			<false/>
		</dict>
		<dict>
			<key>化学基礎</key>
			<false/>
			<key>地球科学基礎</key>
			<false/>
			<key>情報生体システム工学特別講義1</key>
			<false/>
			<key>情報生体システム工学特別講義2</key>
			<false/>
			<key>原子力・放射線と環境</key>
			<false/>
			<key>生産工学論</key>
			<false/>
			<key>エレクトロニクス論</key>
			<false/>
			<key>材料科学論</key>
			<false/>
			<key>科学技術論</key>
			<false/>
			<key>環境工学論</key>
			<false/>
			<key>エネルギー工学論</key>
			<false/>
			<key>工場見学</key>
			<false/>
			<key>インターンシップ</key>
			<false/>
		</dict>
	</array>
	<array>
		<dict/>
		<dict/>
		<dict>
			<key>プログラミング序論</key>
			<false/>
			<key>情報生体システム工学基礎</key>
			<false/>
			<key>フレッシュマンセミナー</key>
			<false/>
			<key>確率統計序論</key>
			<false/>
			<key>プログラミング序論演習</key>
			<false/>
			<key>応用数学1</key>
			<false/>
			<key>応用数学1演習</key>
			<false/>
			<key>情報生体システム工学実験1</key>
			<false/>
			<key>応用数学2</key>
			<false/>
			<key>応用数学2演習</key>
			<false/>
			<key>プログラミング言語1</key>
			<false/>
			<key>プログラミング言語1演習</key>
			<false/>
			<key>情報生体システム工学実験2</key>
			<false/>
			<key>情報生体システム工学実験3</key>
			<false/>
			<key>システム工学英語</key>
			<false/>
			<key>情報倫理学</key>
			<false/>
			<key>情報生体システム工学実験4</key>
			<false/>
			<key>卒業研究</key>
			<false/>
		</dict>
		<dict>
			<key>情報数学</key>
			<false/>
			<key>数値解析</key>
			<false/>
			<key>電気回路学1及び演習</key>
			<false/>
			<key>情報理論</key>
			<false/>
			<key>計算機工学</key>
			<false/>
			<key>電磁気学及び演習</key>
			<false/>
		</dict>
		<dict>
			<key>アルゴリズムとデータ構造</key>
			<false/>
			<key>プログラミング言語2</key>
			<false/>
			<key>ソフトウェア工学</key>
			<false/>
			<key>オペレーティングシステム論</key>
			<false/>
			<key>プログラミング言語2演習</key>
			<false/>
			<key>オートマトンと言語理論</key>
			<false/>
			<key>データベース</key>
			<false/>
		</dict>
		<dict>
			<key>情報論理回路</key>
			<false/>
			<key>計算機ネットワーク</key>
			<false/>
			<key>マルチメディア</key>
			<false/>
			<key>自然言語処理</key>
			<false/>
			<key>計測工学</key>
			<false/>
			<key>人工知能</key>
			<false/>
			<key>情報通信工学</key>
			<false/>
			<key>情報セキュリティ</key>
			<false/>
			<key>信頼性システム</key>
			<false/>
			<key>画像情報工学</key>
			<false/>
			<key>コンピュータグラフィックス</key>
			<false/>
			<key>シミュレーション工学</key>
			<false/>
		</dict>
		<dict>
			<key>生体機構学</key>
			<false/>
			<key>システム工学</key>
			<false/>
			<key>電気回路学2</key>
			<false/>
			<key>生体情報工学1</key>
			<false/>
			<key>電子回路</key>
			<false/>
			<key>計算物理学</key>
			<false/>
			<key>電気化学</key>
			<false/>
			<key>生体情報工学2</key>
			<false/>
			<key>ヒューマンインターフェイス</key>
			<false/>
		</dict>
		<dict>
			<key>化学基礎</key>
			<false/>
			<key>地球科学基礎</key>
			<false/>
			<key>情報生体システム工学特別講義1</key>
			<false/>
			<key>情報生体システム工学特別講義2</key>
			<false/>
			<key>原子力・放射線と環境</key>
			<false/>
			<key>生産工学論</key>
			<false/>
			<key>エレクトロニクス論</key>
			<false/>
			<key>材料科学論</key>
			<false/>
			<key>科学技術論</key>
			<false/>
			<key>環境工学論</key>
			<false/>
			<key>エネルギー工学論</key>
			<false/>
			<key>工場見学</key>
			<false/>
			<key>インターンシップ</key>
			<false/>
		</dict>
	</array>
	<array>
		<dict/>
		<dict/>
		<dict>
			<key>プログラミング序論</key>
			<false/>
			<key>情報生体システム工学基礎</key>
			<false/>
			<key>フレッシュマンセミナー</key>
			<false/>
			<key>確率統計序論</key>
			<false/>
			<key>プログラミング序論演習</key>
			<false/>
			<key>応用数学1</key>
			<false/>
			<key>応用数学1演習</key>
			<false/>
			<key>情報生体システム工学実験1</key>
			<false/>
			<key>応用数学2</key>
			<false/>
			<key>応用数学2演習</key>
			<false/>
			<key>プログラミング言語1</key>
			<false/>
			<key>プログラミング言語1演習</key>
			<false/>
			<key>情報生体システム工学実験2</key>
			<false/>
			<key>情報生体システム工学実験3</key>
			<false/>
			<key>システム工学英語</key>
			<false/>
			<key>情報倫理学</key>
			<false/>
			<key>情報生体システム工学実験4</key>
			<false/>
			<key>卒業研究</key>
			<false/>
		</dict>
		<dict>
			<key>情報数学</key>
			<false/>
			<key>数値解析</key>
			<false/>
			<key>電気回路学1及び演習</key>
			<false/>
			<key>情報理論</key>
			<false/>
			<key>計算機工学</key>
			<false/>
			<key>電磁気学及び演習</key>
			<false/>
		</dict>
		<dict>
			<key>アルゴリズムとデータ構造</key>
			<false/>
			<key>プログラミング言語2</key>
			<false/>
			<key>ソフトウェア工学</key>
			<false/>
			<key>オペレーティングシステム論</key>
			<false/>
			<key>プログラミング言語2演習</key>
			<false/>
			<key>オートマトンと言語理論</key>
			<false/>
			<key>データベース</key>
			<false/>
		</dict>
		<dict>
			<key>情報論理回路</key>
			<false/>
			<key>計算機ネットワーク</key>
			<false/>
			<key>マルチメディア</key>
			<false/>
			<key>自然言語処理</key>
			<false/>
			<key>計測工学</key>
			<false/>
			<key>人工知能</key>
			<false/>
			<key>情報通信工学</key>
			<false/>
			<key>情報セキュリティ</key>
			<false/>
			<key>信頼性システム</key>
			<false/>
			<key>画像情報工学</key>
			<false/>
			<key>コンピュータグラフィックス</key>
			<false/>
			<key>シミュレーション工学</key>
			<false/>
		</dict>
		<dict>
			<key>生体機構学</key>
			<false/>
			<key>システム工学</key>
			<false/>
			<key>電気回路学2</key>
			<false/>
			<key>生体情報工学1</key>
			<false/>
			<key>電子回路</key>
			<false/>
			<key>計算物理学</key>
			<false/>
			<key>電気化学</key>
			<false/>
			<key>生体情報工学2</key>
			<false/>
			<key>ヒューマンインターフェイス</key>
			<false/>
		</dict>
		<dict>
			<key>化学基礎</key>
			<false/>
			<key>地球科学基礎</key>
			<false/>
			<key>情報生体システム工学特別講義1</key>
			<false/>
			<key>情報生体システム工学特別講義2</key>
			<false/>
			<key>原子力・放射線と環境</key>
			<false/>
			<key>生産工学論</key>
			<false/>
			<key>エレクトロニクス論</key>
			<false/>
			<key>材料科学論</key>
			<false/>
			<key>科学技術論</key>
			<false/>
			<key>環境工学論</key>
			<false/>
			<key>エネルギー工学論</key>
			<false/>
			<key>工場見学</key>
			<false/>
			<key>インターンシップ</key>
			<false/>
		</dict>
	</array>
	<array>
		<dict/>
		<dict/>
		<dict>
			<key>プログラミング序論</key>
			<false/>
			<key>情報生体システム工学基礎</key>
			<false/>
			<key>フレッシュマンセミナー</key>
			<false/>
			<key>確率統計序論</key>
			<false/>
			<key>プログラミング序論演習</key>
			<false/>
			<key>応用数学1</key>
			<false/>
			<key>応用数学1演習</key>
			<false/>
			<key>情報生体システム工学実験1</key>
			<false/>
			<key>応用数学2</key>
			<false/>
			<key>応用数学2演習</key>
			<false/>
			<key>プログラミング言語1</key>
			<false/>
			<key>プログラミング言語1演習</key>
			<false/>
			<key>情報生体システム工学実験2</key>
			<false/>
			<key>情報生体システム工学実験3</key>
			<false/>
			<key>システム工学英語</key>
			<false/>
			<key>情報倫理学</key>
			<false/>
			<key>情報生体システム工学実験4</key>
			<false/>
			<key>卒業研究</key>
			<false/>
		</dict>
		<dict>
			<key>情報数学</key>
			<false/>
			<key>数値解析</key>
			<false/>
			<key>電気回路学1及び演習</key>
			<false/>
			<key>情報理論</key>
			<false/>
			<key>計算機工学</key>
			<false/>
			<key>電磁気学及び演習</key>
			<false/>
		</dict>
		<dict>
			<key>アルゴリズムとデータ構造</key>
			<false/>
			<key>プログラミング言語2</key>
			<false/>
			<key>ソフトウェア工学</key>
			<false/>
			<key>オペレーティングシステム論</key>
			<false/>
			<key>プログラミング言語2演習</key>
			<false/>
			<key>オートマトンと言語理論</key>
			<false/>
			<key>データベース</key>
			<false/>
		</dict>
		<dict>
			<key>情報論理回路</key>
			<false/>
			<key>計算機ネットワーク</key>
			<false/>
			<key>マルチメディア</key>
			<false/>
			<key>自然言語処理</key>
			<false/>
			<key>計測工学</key>
			<false/>
			<key>人工知能</key>
			<false/>
			<key>情報通信工学</key>
			<false/>
			<key>情報セキュリティ</key>
			<false/>
			<key>信頼性システム</key>
			<false/>
			<key>画像情報工学</key>
			<false/>
			<key>コンピュータグラフィックス</key>
			<false/>
			<key>シミュレーション工学</key>
			<false/>
		</dict>
		<dict>
			<key>生体機構学</key>
			<false/>
			<key>システム工学</key>
			<false/>
			<key>電気回路学2</key>
			<false/>
			<key>生体情報工学1</key>
			<false/>
			<key>電子回路</key>
			<false/>
			<key>計算物理学</key>
			<false/>
			<key>電気化学</key>
			<false/>
			<key>生体情報工学2</key>
			<false/>
			<key>ヒューマンインターフェイス</key>
			<false/>
		</dict>
		<dict>
			<key>化学基礎</key>
			<false/>
			<key>地球科学基礎</key>
			<false/>
			<key>情報生体システム工学特別講義1</key>
			<false/>
			<key>情報生体システム工学特別講義2</key>
			<false/>
			<key>原子力・放射線と環境</key>
			<false/>
			<key>生産工学論</key>
			<false/>
			<key>エレクトロニクス論</key>
			<false/>
			<key>材料科学論</key>
			<false/>
			<key>科学技術論</key>
			<false/>
			<key>環境工学論</key>
			<false/>
			<key>エネルギー工学論</key>
			<false/>
			<key>工場見学</key>
			<false/>
			<key>インターンシップ</key>
			<false/>
		</dict>
	</array>
	<array>
		<dict/>
		<dict/>
		<dict>
			<key>プログラミング序論</key>
			<false/>
			<key>情報生体システム工学基礎</key>
			<false/>
			<key>フレッシュマンセミナー</key>
			<false/>
			<key>確率統計序論</key>
			<false/>
			<key>プログラミング序論演習</key>
			<false/>
			<key>応用数学1</key>
			<false/>
			<key>応用数学1演習</key>
			<false/>
			<key>情報生体システム工学実験1</key>
			<false/>
			<key>応用数学2</key>
			<false/>
			<key>応用数学2演習</key>
			<false/>
			<key>プログラミング言語1</key>
			<false/>
			<key>プログラミング言語1演習</key>
			<false/>
			<key>情報生体システム工学実験2</key>
			<false/>
			<key>情報生体システム工学実験3</key>
			<false/>
			<key>システム工学英語</key>
			<false/>
			<key>情報倫理学</key>
			<false/>
			<key>情報生体システム工学実験4</key>
			<false/>
			<key>卒業研究</key>
			<false/>
		</dict>
		<dict>
			<key>情報数学</key>
			<false/>
			<key>数値解析</key>
			<false/>
			<key>電気回路学1及び演習</key>
			<false/>
			<key>情報理論</key>
			<false/>
			<key>計算機工学</key>
			<false/>
			<key>電磁気学及び演習</key>
			<false/>
		</dict>
		<dict>
			<key>アルゴリズムとデータ構造</key>
			<false/>
			<key>プログラミング言語2</key>
			<false/>
			<key>ソフトウェア工学</key>
			<false/>
			<key>オペレーティングシステム論</key>
			<false/>
			<key>プログラミング言語2演習</key>
			<false/>
			<key>オートマトンと言語理論</key>
			<false/>
			<key>データベース</key>
			<false/>
		</dict>
		<dict>
			<key>情報論理回路</key>
			<false/>
			<key>計算機ネットワーク</key>
			<false/>
			<key>マルチメディア</key>
			<false/>
			<key>自然言語処理</key>
			<false/>
			<key>計測工学</key>
			<false/>
			<key>人工知能</key>
			<false/>
			<key>情報通信工学</key>
			<false/>
			<key>情報セキュリティ</key>
			<false/>
			<key>信頼性システム</key>
			<false/>
			<key>画像情報工学</key>
			<false/>
			<key>コンピュータグラフィックス</key>
			<false/>
			<key>シミュレーション工学</key>
			<false/>
		</dict>
		<dict>
			<key>生体機構学</key>
			<false/>
			<key>システム工学</key>
			<false/>
			<key>電気回路学2</key>
			<false/>
			<key>生体情報工学1</key>
			<false/>
			<key>電子回路</key>
			<false/>
			<key>計算物理学</key>
			<false/>
			<key>電気化学</key>
			<false/>
			<key>生体情報工学2</key>
			<false/>
			<key>ヒューマンインターフェイス</key>
			<false/>
		</dict>
		<dict>
			<key>化学基礎</key>
			<false/>
			<key>地球科学基礎</key>
			<false/>
			<key>情報生体システム工学特別講義1</key>
			<false/>
			<key>情報生体システム工学特別講義2</key>
			<false/>
			<key>原子力・放射線と環境</key>
			<false/>
			<key>生産工学論</key>
			<false/>
			<key>エレクトロニクス論</key>
			<false/>
			<key>材料科学論</key>
			<false/>
			<key>科学技術論</key>
			<false/>
			<key>環境工学論</key>
			<false/>
			<key>エネルギー工学論</key>
			<false/>
			<key>工場見学</key>
			<false/>
			<key>インターンシップ</key>
			<false/>
		</dict>
	</array>
	<array>
		<dict/>
		<dict/>
		<dict>
			<key>プログラミング序論</key>
			<false/>
			<key>情報生体システム工学基礎</key>
			<false/>
			<key>フレッシュマンセミナー</key>
			<false/>
			<key>確率統計序論</key>
			<false/>
			<key>プログラミング序論演習</key>
			<false/>
			<key>応用数学1</key>
			<false/>
			<key>応用数学1演習</key>
			<false/>
			<key>情報生体システム工学実験1</key>
			<false/>
			<key>応用数学2</key>
			<false/>
			<key>応用数学2演習</key>
			<false/>
			<key>プログラミング言語1</key>
			<false/>
			<key>プログラミング言語1演習</key>
			<false/>
			<key>情報生体システム工学実験2</key>
			<false/>
			<key>情報生体システム工学実験3</key>
			<false/>
			<key>システム工学英語</key>
			<false/>
			<key>情報倫理学</key>
			<false/>
			<key>情報生体システム工学実験4</key>
			<false/>
			<key>卒業研究</key>
			<false/>
		</dict>
		<dict>
			<key>情報数学</key>
			<false/>
			<key>数値解析</key>
			<false/>
			<key>電気回路学1及び演習</key>
			<false/>
			<key>情報理論</key>
			<false/>
			<key>計算機工学</key>
			<false/>
			<key>電磁気学及び演習</key>
			<false/>
		</dict>
		<dict>
			<key>アルゴリズムとデータ構造</key>
			<false/>
			<key>プログラミング言語2</key>
			<false/>
			<key>ソフトウェア工学</key>
			<false/>
			<key>オペレーティングシステム論</key>
			<false/>
			<key>プログラミング言語2演習</key>
			<false/>
			<key>オートマトンと言語理論</key>
			<false/>
			<key>データベース</key>
			<false/>
		</dict>
		<dict>
			<key>情報論理回路</key>
			<false/>
			<key>計算機ネットワーク</key>
			<false/>
			<key>マルチメディア</key>
			<false/>
			<key>自然言語処理</key>
			<false/>
			<key>計測工学</key>
			<false/>
			<key>人工知能</key>
			<false/>
			<key>情報通信工学</key>
			<false/>
			<key>情報セキュリティ</key>
			<false/>
			<key>信頼性システム</key>
			<false/>
			<key>画像情報工学</key>
			<false/>
			<key>コンピュータグラフィックス</key>
			<false/>
			<key>シミュレーション工学</key>
			<false/>
		</dict>
		<dict>
			<key>生体機構学</key>
			<false/>
			<key>システム工学</key>
			<false/>
			<key>電気回路学2</key>
			<false/>
			<key>生体情報工学1</key>
			<false/>
			<key>電子回路</key>
			<false/>
			<key>計算物理学</key>
			<false/>
			<key>電気化学</key>
			<false/>
			<key>生体情報工学2</key>
			<false/>
			<key>ヒューマンインターフェイス</key>
			<false/>
		</dict>
		<dict>
			<key>化学基礎</key>
			<false/>
			<key>地球科学基礎</key>
			<false/>
			<key>情報生体システム工学特別講義1</key>
			<false/>
			<key>情報生体システム工学特別講義2</key>
			<false/>
			<key>原子力・放射線と環境</key>
			<false/>
			<key>生産工学論</key>
			<false/>
			<key>エレクトロニクス論</key>
			<false/>
			<key>材料科学論</key>
			<false/>
			<key>科学技術論</key>
			<false/>
			<key>環境工学論</key>
			<false/>
			<key>エネルギー工学論</key>
			<false/>
			<key>工場見学</key>
			<false/>
			<key>インターンシップ</key>
			<false/>
		</dict>
	</array>
	<array>
		<dict/>
		<dict/>
		<dict>
			<key>プログラミング序論</key>
			<false/>
			<key>情報生体システム工学基礎</key>
			<false/>
			<key>フレッシュマンセミナー</key>
			<false/>
			<key>確率統計序論</key>
			<false/>
			<key>プログラミング序論演習</key>
			<false/>
			<key>応用数学1</key>
			<false/>
			<key>応用数学1演習</key>
			<false/>
			<key>情報生体システム工学実験1</key>
			<false/>
			<key>応用数学2</key>
			<false/>
			<key>応用数学2演習</key>
			<false/>
			<key>プログラミング言語1</key>
			<false/>
			<key>プログラミング言語1演習</key>
			<false/>
			<key>情報生体システム工学実験2</key>
			<false/>
			<key>情報生体システム工学実験3</key>
			<false/>
			<key>システム工学英語</key>
			<false/>
			<key>情報倫理学</key>
			<false/>
			<key>情報生体システム工学実験4</key>
			<false/>
			<key>卒業研究</key>
			<false/>
		</dict>
		<dict>
			<key>情報数学</key>
			<false/>
			<key>数値解析</key>
			<false/>
			<key>電気回路学1及び演習</key>
			<false/>
			<key>情報理論</key>
			<false/>
			<key>計算機工学</key>
			<false/>
			<key>電磁気学及び演習</key>
			<false/>
		</dict>
		<dict>
			<key>アルゴリズムとデータ構造</key>
			<false/>
			<key>プログラミング言語2</key>
			<false/>
			<key>ソフトウェア工学</key>
			<false/>
			<key>オペレーティングシステム論</key>
			<false/>
			<key>プログラミング言語2演習</key>
			<false/>
			<key>オートマトンと言語理論</key>
			<false/>
			<key>データベース</key>
			<false/>
		</dict>
		<dict>
			<key>情報論理回路</key>
			<false/>
			<key>計算機ネットワーク</key>
			<false/>
			<key>マルチメディア</key>
			<false/>
			<key>自然言語処理</key>
			<false/>
			<key>計測工学</key>
			<false/>
			<key>人工知能</key>
			<false/>
			<key>情報通信工学</key>
			<false/>
			<key>情報セキュリティ</key>
			<false/>
			<key>信頼性システム</key>
			<false/>
			<key>画像情報工学</key>
			<false/>
			<key>コンピュータグラフィックス</key>
			<false/>
			<key>シミュレーション工学</key>
			<false/>
		</dict>
		<dict>
			<key>生体機構学</key>
			<false/>
			<key>システム工学</key>
			<false/>
			<key>電気回路学2</key>
			<false/>
			<key>生体情報工学1</key>
			<false/>
			<key>電子回路</key>
			<false/>
			<key>計算物理学</key>
			<false/>
			<key>電気化学</key>
			<false/>
			<key>生体情報工学2</key>
			<false/>
			<key>ヒューマンインターフェイス</key>
			<false/>
		</dict>
		<dict>
			<key>化学基礎</key>
			<false/>
			<key>地球科学基礎</key>
			<false/>
			<key>情報生体システム工学特別講義1</key>
			<false/>
			<key>情報生体システム工学特別講義2</key>
			<false/>
			<key>原子力・放射線と環境</key>
			<false/>
			<key>生産工学論</key>
			<false/>
			<key>エレクトロニクス論</key>
			<false/>
			<key>材料科学論</key>
			<false/>
			<key>科学技術論</key>
			<false/>
			<key>環境工学論</key>
			<false/>
			<key>エネルギー工学論</key>
			<false/>
			<key>工場見学</key>
			<false/>
			<key>インターンシップ</key>
			<false/>
		</dict>
	</array>
	<array>
		<dict/>
		<dict/>
		<dict>
			<key>プログラミング序論</key>
			<false/>
			<key>情報生体システム工学基礎</key>
			<false/>
			<key>フレッシュマンセミナー</key>
			<false/>
			<key>確率統計序論</key>
			<false/>
			<key>プログラミング序論演習</key>
			<false/>
			<key>応用数学1</key>
			<false/>
			<key>応用数学1演習</key>
			<false/>
			<key>情報生体システム工学実験1</key>
			<false/>
			<key>応用数学2</key>
			<false/>
			<key>応用数学2演習</key>
			<false/>
			<key>プログラミング言語1</key>
			<false/>
			<key>プログラミング言語1演習</key>
			<false/>
			<key>情報生体システム工学実験2</key>
			<false/>
			<key>情報生体システム工学実験3</key>
			<false/>
			<key>システム工学英語</key>
			<false/>
			<key>情報倫理学</key>
			<false/>
			<key>情報生体システム工学実験4</key>
			<false/>
			<key>卒業研究</key>
			<false/>
		</dict>
		<dict>
			<key>情報数学</key>
			<false/>
			<key>数値解析</key>
			<false/>
			<key>電気回路学1及び演習</key>
			<false/>
			<key>情報理論</key>
			<false/>
			<key>計算機工学</key>
			<false/>
			<key>電磁気学及び演習</key>
			<false/>
		</dict>
		<dict>
			<key>アルゴリズムとデータ構造</key>
			<false/>
			<key>プログラミング言語2</key>
			<false/>
			<key>ソフトウェア工学</key>
			<false/>
			<key>オペレーティングシステム論</key>
			<false/>
			<key>プログラミング言語2演習</key>
			<false/>
			<key>オートマトンと言語理論</key>
			<false/>
			<key>データベース</key>
			<false/>
		</dict>
		<dict>
			<key>情報論理回路</key>
			<false/>
			<key>計算機ネットワーク</key>
			<false/>
			<key>マルチメディア</key>
			<false/>
			<key>自然言語処理</key>
			<false/>
			<key>計測工学</key>
			<false/>
			<key>人工知能</key>
			<false/>
			<key>情報通信工学</key>
			<false/>
			<key>情報セキュリティ</key>
			<false/>
			<key>信頼性システム</key>
			<false/>
			<key>画像情報工学</key>
			<false/>
			<key>コンピュータグラフィックス</key>
			<false/>
			<key>シミュレーション工学</key>
			<false/>
		</dict>
		<dict>
			<key>生体機構学</key>
			<false/>
			<key>システム工学</key>
			<false/>
			<key>電気回路学2</key>
			<false/>
			<key>生体情報工学1</key>
			<false/>
			<key>電子回路</key>
			<false/>
			<key>計算物理学</key>
			<false/>
			<key>電気化学</key>
			<false/>
			<key>生体情報工学2</key>
			<false/>
			<key>ヒューマンインターフェイス</key>
			<false/>
		</dict>
		<dict>
			<key>化学基礎</key>
			<false/>
			<key>地球科学基礎</key>
			<false/>
			<key>情報生体システム工学特別講義1</key>
			<false/>
			<key>情報生体システム工学特別講義2</key>
			<false/>
			<key>原子力・放射線と環境</key>
			<false/>
			<key>生産工学論</key>
			<false/>
			<key>エレクトロニクス論</key>
			<false/>
			<key>材料科学論</key>
			<false/>
			<key>科学技術論</key>
			<false/>
			<key>環境工学論</key>
			<false/>
			<key>エネルギー工学論</key>
			<false/>
			<key>工場見学</key>
			<false/>
			<key>インターンシップ</key>
			<false/>
		</dict>
	</array>
	<array>
		<dict/>
		<dict/>
		<dict>
			<key>プログラミング序論</key>
			<false/>
			<key>情報生体システム工学基礎</key>
			<false/>
			<key>フレッシュマンセミナー</key>
			<false/>
			<key>確率統計序論</key>
			<false/>
			<key>プログラミング序論演習</key>
			<false/>
			<key>応用数学1</key>
			<false/>
			<key>応用数学1演習</key>
			<false/>
			<key>情報生体システム工学実験1</key>
			<false/>
			<key>応用数学2</key>
			<false/>
			<key>応用数学2演習</key>
			<false/>
			<key>プログラミング言語1</key>
			<false/>
			<key>プログラミング言語1演習</key>
			<false/>
			<key>情報生体システム工学実験2</key>
			<false/>
			<key>情報生体システム工学実験3</key>
			<false/>
			<key>システム工学英語</key>
			<false/>
			<key>情報倫理学</key>
			<false/>
			<key>情報生体システム工学実験4</key>
			<false/>
			<key>卒業研究</key>
			<false/>
		</dict>
		<dict>
			<key>情報数学</key>
			<false/>
			<key>数値解析</key>
			<false/>
			<key>電気回路学1及び演習</key>
			<false/>
			<key>情報理論</key>
			<false/>
			<key>計算機工学</key>
			<false/>
			<key>電磁気学及び演習</key>
			<false/>
		</dict>
		<dict>
			<key>アルゴリズムとデータ構造</key>
			<false/>
			<key>プログラミング言語2</key>
			<false/>
			<key>ソフトウェア工学</key>
			<false/>
			<key>オペレーティングシステム論</key>
			<false/>
			<key>プログラミング言語2演習</key>
			<false/>
			<key>オートマトンと言語理論</key>
			<false/>
			<key>データベース</key>
			<false/>
		</dict>
		<dict>
			<key>情報論理回路</key>
			<false/>
			<key>計算機ネットワーク</key>
			<false/>
			<key>マルチメディア</key>
			<false/>
			<key>自然言語処理</key>
			<false/>
			<key>計測工学</key>
			<false/>
			<key>人工知能</key>
			<false/>
			<key>情報通信工学</key>
			<false/>
			<key>情報セキュリティ</key>
			<false/>
			<key>信頼性システム</key>
			<false/>
			<key>画像情報工学</key>
			<false/>
			<key>コンピュータグラフィックス</key>
			<false/>
			<key>シミュレーション工学</key>
			<false/>
		</dict>
		<dict>
			<key>生体機構学</key>
			<false/>
			<key>システム工学</key>
			<false/>
			<key>電気回路学2</key>
			<false/>
			<key>生体情報工学1</key>
			<false/>
			<key>電子回路</key>
			<false/>
			<key>計算物理学</key>
			<false/>
			<key>電気化学</key>
			<false/>
			<key>生体情報工学2</key>
			<false/>
			<key>ヒューマンインターフェイス</key>
			<false/>
		</dict>
		<dict>
			<key>化学基礎</key>
			<false/>
			<key>地球科学基礎</key>
			<false/>
			<key>情報生体システム工学特別講義1</key>
			<false/>
			<key>情報生体システム工学特別講義2</key>
			<false/>
			<key>原子力・放射線と環境</key>
			<false/>
			<key>生産工学論</key>
			<false/>
			<key>エレクトロニクス論</key>
			<false/>
			<key>材料科学論</key>
			<false/>
			<key>科学技術論</key>
			<false/>
			<key>環境工学論</key>
			<false/>
			<key>エネルギー工学論</key>
			<false/>
			<key>工場見学</key>
			<false/>
			<key>インターンシップ</key>
			<false/>
		</dict>
	</array>
	<array>
		<dict/>
		<dict/>
		<dict>
			<key>プログラミング序論</key>
			<false/>
			<key>情報生体システム工学基礎</key>
			<false/>
			<key>フレッシュマンセミナー</key>
			<false/>
			<key>確率統計序論</key>
			<false/>
			<key>プログラミング序論演習</key>
			<false/>
			<key>応用数学1</key>
			<false/>
			<key>応用数学1演習</key>
			<false/>
			<key>情報生体システム工学実験1</key>
			<false/>
			<key>応用数学2</key>
			<false/>
			<key>応用数学2演習</key>
			<false/>
			<key>プログラミング言語1</key>
			<false/>
			<key>プログラミング言語1演習</key>
			<false/>
			<key>情報生体システム工学実験2</key>
			<false/>
			<key>情報生体システム工学実験3</key>
			<false/>
			<key>システム工学英語</key>
			<false/>
			<key>情報倫理学</key>
			<false/>
			<key>情報生体システム工学実験4</key>
			<false/>
			<key>卒業研究</key>
			<false/>
		</dict>
		<dict>
			<key>情報数学</key>
			<false/>
			<key>数値解析</key>
			<false/>
			<key>電気回路学1及び演習</key>
			<false/>
			<key>情報理論</key>
			<false/>
			<key>計算機工学</key>
			<false/>
			<key>電磁気学及び演習</key>
			<false/>
		</dict>
		<dict>
			<key>アルゴリズムとデータ構造</key>
			<false/>
			<key>プログラミング言語2</key>
			<false/>
			<key>ソフトウェア工学</key>
			<false/>
			<key>オペレーティングシステム論</key>
			<false/>
			<key>プログラミング言語2演習</key>
			<false/>
			<key>オートマトンと言語理論</key>
			<false/>
			<key>データベース</key>
			<false/>
		</dict>
		<dict>
			<key>情報論理回路</key>
			<false/>
			<key>計算機ネットワーク</key>
			<false/>
			<key>マルチメディア</key>
			<false/>
			<key>自然言語処理</key>
			<false/>
			<key>計測工学</key>
			<false/>
			<key>人工知能</key>
			<false/>
			<key>情報通信工学</key>
			<false/>
			<key>情報セキュリティ</key>
			<false/>
			<key>信頼性システム</key>
			<false/>
			<key>画像情報工学</key>
			<false/>
			<key>コンピュータグラフィックス</key>
			<false/>
			<key>シミュレーション工学</key>
			<false/>
		</dict>
		<dict>
			<key>生体機構学</key>
			<false/>
			<key>システム工学</key>
			<false/>
			<key>電気回路学2</key>
			<false/>
			<key>生体情報工学1</key>
			<false/>
			<key>電子回路</key>
			<false/>
			<key>計算物理学</key>
			<false/>
			<key>電気化学</key>
			<false/>
			<key>生体情報工学2</key>
			<false/>
			<key>ヒューマンインターフェイス</key>
			<false/>
		</dict>
		<dict>
			<key>化学基礎</key>
			<false/>
			<key>地球科学基礎</key>
			<false/>
			<key>情報生体システム工学特別講義1</key>
			<false/>
			<key>情報生体システム工学特別講義2</key>
			<false/>
			<key>原子力・放射線と環境</key>
			<false/>
			<key>生産工学論</key>
			<false/>
			<key>エレクトロニクス論</key>
			<false/>
			<key>材料科学論</key>
			<false/>
			<key>科学技術論</key>
			<false/>
			<key>環境工学論</key>
			<false/>
			<key>エネルギー工学論</key>
			<false/>
			<key>工場見学</key>
			<false/>
			<key>インターンシップ</key>
			<false/>
		</dict>
	</array>
	<array>
		<dict/>
		<dict/>
		<dict>
			<key>プログラミング序論</key>
			<false/>
			<key>情報生体システム工学基礎</key>
			<false/>
			<key>フレッシュマンセミナー</key>
			<false/>
			<key>確率統計序論</key>
			<false/>
			<key>プログラミング序論演習</key>
			<false/>
			<key>応用数学1</key>
			<false/>
			<key>応用数学1演習</key>
			<false/>
			<key>情報生体システム工学実験1</key>
			<false/>
			<key>応用数学2</key>
			<false/>
			<key>応用数学2演習</key>
			<false/>
			<key>プログラミング言語1</key>
			<false/>
			<key>プログラミング言語1演習</key>
			<false/>
			<key>情報生体システム工学実験2</key>
			<false/>
			<key>情報生体システム工学実験3</key>
			<false/>
			<key>システム工学英語</key>
			<false/>
			<key>情報倫理学</key>
			<false/>
			<key>情報生体システム工学実験4</key>
			<false/>
			<key>卒業研究</key>
			<false/>
		</dict>
		<dict>
			<key>情報数学</key>
			<false/>
			<key>数値解析</key>
			<false/>
			<key>電気回路学1及び演習</key>
			<false/>
			<key>情報理論</key>
			<false/>
			<key>計算機工学</key>
			<false/>
			<key>電磁気学及び演習</key>
			<false/>
		</dict>
		<dict>
			<key>アルゴリズムとデータ構造</key>
			<false/>
			<key>プログラミング言語2</key>
			<false/>
			<key>ソフトウェア工学</key>
			<false/>
			<key>オペレーティングシステム論</key>
			<false/>
			<key>プログラミング言語2演習</key>
			<false/>
			<key>オートマトンと言語理論</key>
			<false/>
			<key>データベース</key>
			<false/>
		</dict>
		<dict>
			<key>情報論理回路</key>
			<false/>
			<key>計算機ネットワーク</key>
			<false/>
			<key>マルチメディア</key>
			<false/>
			<key>自然言語処理</key>
			<false/>
			<key>計測工学</key>
			<false/>
			<key>人工知能</key>
			<false/>
			<key>情報通信工学</key>
			<false/>
			<key>情報セキュリティ</key>
			<false/>
			<key>信頼性システム</key>
			<false/>
			<key>画像情報工学</key>
			<false/>
			<key>コンピュータグラフィックス</key>
			<false/>
			<key>シミュレーション工学</key>
			<false/>
		</dict>
		<dict>
			<key>生体機構学</key>
			<false/>
			<key>システム工学</key>
			<false/>
			<key>電気回路学2</key>
			<false/>
			<key>生体情報工学1</key>
			<false/>
			<key>電子回路</key>
			<false/>
			<key>計算物理学</key>
			<false/>
			<key>電気化学</key>
			<false/>
			<key>生体情報工学2</key>
			<false/>
			<key>ヒューマンインターフェイス</key>
			<false/>
		</dict>
		<dict>
			<key>化学基礎</key>
			<false/>
			<key>地球科学基礎</key>
			<false/>
			<key>情報生体システム工学特別講義1</key>
			<false/>
			<key>情報生体システム工学特別講義2</key>
			<false/>
			<key>原子力・放射線と環境</key>
			<false/>
			<key>生産工学論</key>
			<false/>
			<key>エレクトロニクス論</key>
			<false/>
			<key>材料科学論</key>
			<false/>
			<key>科学技術論</key>
			<false/>
			<key>環境工学論</key>
			<false/>
			<key>エネルギー工学論</key>
			<false/>
			<key>工場見学</key>
			<false/>
			<key>インターンシップ</key>
			<false/>
		</dict>
	</array>
	<array>
		<dict/>
		<dict/>
		<dict>
			<key>プログラミング序論</key>
			<false/>
			<key>情報生体システム工学基礎</key>
			<false/>
			<key>フレッシュマンセミナー</key>
			<false/>
			<key>確率統計序論</key>
			<false/>
			<key>プログラミング序論演習</key>
			<false/>
			<key>応用数学1</key>
			<false/>
			<key>応用数学1演習</key>
			<false/>
			<key>情報生体システム工学実験1</key>
			<false/>
			<key>応用数学2</key>
			<false/>
			<key>応用数学2演習</key>
			<false/>
			<key>プログラミング言語1</key>
			<false/>
			<key>プログラミング言語1演習</key>
			<false/>
			<key>情報生体システム工学実験2</key>
			<false/>
			<key>情報生体システム工学実験3</key>
			<false/>
			<key>システム工学英語</key>
			<false/>
			<key>情報倫理学</key>
			<false/>
			<key>情報生体システム工学実験4</key>
			<false/>
			<key>卒業研究</key>
			<false/>
		</dict>
		<dict>
			<key>情報数学</key>
			<false/>
			<key>数値解析</key>
			<false/>
			<key>電気回路学1及び演習</key>
			<false/>
			<key>情報理論</key>
			<false/>
			<key>計算機工学</key>
			<false/>
			<key>電磁気学及び演習</key>
			<false/>
		</dict>
		<dict>
			<key>アルゴリズムとデータ構造</key>
			<false/>
			<key>プログラミング言語2</key>
			<false/>
			<key>ソフトウェア工学</key>
			<false/>
			<key>オペレーティングシステム論</key>
			<false/>
			<key>プログラミング言語2演習</key>
			<false/>
			<key>オートマトンと言語理論</key>
			<false/>
			<key>データベース</key>
			<false/>
		</dict>
		<dict>
			<key>情報論理回路</key>
			<false/>
			<key>計算機ネットワーク</key>
			<false/>
			<key>マルチメディア</key>
			<false/>
			<key>自然言語処理</key>
			<false/>
			<key>計測工学</key>
			<false/>
			<key>人工知能</key>
			<false/>
			<key>情報通信工学</key>
			<false/>
			<key>情報セキュリティ</key>
			<false/>
			<key>信頼性システム</key>
			<false/>
			<key>画像情報工学</key>
			<false/>
			<key>コンピュータグラフィックス</key>
			<false/>
			<key>シミュレーション工学</key>
			<false/>
		</dict>
		<dict>
			<key>生体機構学</key>
			<false/>
			<key>システム工学</key>
			<false/>
			<key>電気回路学2</key>
			<false/>
			<key>生体情報工学1</key>
			<false/>
			<key>電子回路</key>
			<false/>
			<key>計算物理学</key>
			<false/>
			<key>電気化学</key>
			<false/>
			<key>生体情報工学2</key>
			<false/>
			<key>ヒューマンインターフェイス</key>
			<false/>
		</dict>
		<dict>
			<key>化学基礎</key>
			<false/>
			<key>地球科学基礎</key>
			<false/>
			<key>情報生体システム工学特別講義1</key>
			<false/>
			<key>情報生体システム工学特別講義2</key>
			<false/>
			<key>原子力・放射線と環境</key>
			<false/>
			<key>生産工学論</key>
			<false/>
			<key>エレクトロニクス論</key>
			<false/>
			<key>材料科学論</key>
			<false/>
			<key>科学技術論</key>
			<false/>
			<key>環境工学論</key>
			<false/>
			<key>エネルギー工学論</key>
			<false/>
			<key>工場見学</key>
			<false/>
			<key>インターンシップ</key>
			<false/>
		</dict>
	</array>
	<array>
		<dict/>
		<dict/>
		<dict>
			<key>プログラミング序論</key>
			<false/>
			<key>情報生体システム工学基礎</key>
			<false/>
			<key>フレッシュマンセミナー</key>
			<false/>
			<key>確率統計序論</key>
			<false/>
			<key>プログラミング序論演習</key>
			<false/>
			<key>応用数学1</key>
			<false/>
			<key>応用数学1演習</key>
			<false/>
			<key>情報生体システム工学実験1</key>
			<false/>
			<key>応用数学2</key>
			<false/>
			<key>応用数学2演習</key>
			<false/>
			<key>プログラミング言語1</key>
			<false/>
			<key>プログラミング言語1演習</key>
			<false/>
			<key>情報生体システム工学実験2</key>
			<false/>
			<key>情報生体システム工学実験3</key>
			<false/>
			<key>システム工学英語</key>
			<false/>
			<key>情報倫理学</key>
			<false/>
			<key>情報生体システム工学実験4</key>
			<false/>
			<key>卒業研究</key>
			<false/>
		</dict>
		<dict>
			<key>情報数学</key>
			<false/>
			<key>数値解析</key>
			<false/>
			<key>電気回路学1及び演習</key>
			<false/>
			<key>情報理論</key>
			<false/>
			<key>計算機工学</key>
			<false/>
			<key>電磁気学及び演習</key>
			<false/>
		</dict>
		<dict>
			<key>アルゴリズムとデータ構造</key>
			<false/>
			<key>プログラミング言語2</key>
			<false/>
			<key>ソフトウェア工学</key>
			<false/>
			<key>オペレーティングシステム論</key>
			<false/>
			<key>プログラミング言語2演習</key>
			<false/>
			<key>オートマトンと言語理論</key>
			<false/>
			<key>データベース</key>
			<false/>
		</dict>
		<dict>
			<key>情報論理回路</key>
			<false/>
			<key>計算機ネットワーク</key>
			<false/>
			<key>マルチメディア</key>
			<false/>
			<key>自然言語処理</key>
			<false/>
			<key>計測工学</key>
			<false/>
			<key>人工知能</key>
			<false/>
			<key>情報通信工学</key>
			<false/>
			<key>情報セキュリティ</key>
			<false/>
			<key>信頼性システム</key>
			<false/>
			<key>画像情報工学</key>
			<false/>
			<key>コンピュータグラフィックス</key>
			<false/>
			<key>シミュレーション工学</key>
			<false/>
		</dict>
		<dict>
			<key>生体機構学</key>
			<false/>
			<key>システム工学</key>
			<false/>
			<key>電気回路学2</key>
			<false/>
			<key>生体情報工学1</key>
			<false/>
			<key>電子回路</key>
			<false/>
			<key>計算物理学</key>
			<false/>
			<key>電気化学</key>
			<false/>
			<key>生体情報工学2</key>
			<false/>
			<key>ヒューマンインターフェイス</key>
			<false/>
		</dict>
		<dict>
			<key>化学基礎</key>
			<false/>
			<key>地球科学基礎</key>
			<false/>
			<key>情報生体システム工学特別講義1</key>
			<false/>
			<key>情報生体システム工学特別講義2</key>
			<false/>
			<key>原子力・放射線と環境</key>
			<false/>
			<key>生産工学論</key>
			<false/>
			<key>エレクトロニクス論</key>
			<false/>
			<key>材料科学論</key>
			<false/>
			<key>科学技術論</key>
			<false/>
			<key>環境工学論</key>
			<false/>
			<key>エネルギー工学論</key>
			<false/>
			<key>工場見学</key>
			<false/>
			<key>インターンシップ</key>
			<false/>
		</dict>
	</array>
	<array>
		<dict/>
		<dict/>
		<dict>
			<key>プログラミング序論</key>
			<false/>
			<key>情報生体システム工学基礎</key>
			<false/>
			<key>フレッシュマンセミナー</key>
			<false/>
			<key>確率統計序論</key>
			<false/>
			<key>プログラミング序論演習</key>
			<false/>
			<key>応用数学1</key>
			<false/>
			<key>応用数学1演習</key>
			<false/>
			<key>情報生体システム工学実験1</key>
			<false/>
			<key>応用数学2</key>
			<false/>
			<key>応用数学2演習</key>
			<false/>
			<key>プログラミング言語1</key>
			<false/>
			<key>プログラミング言語1演習</key>
			<false/>
			<key>情報生体システム工学実験2</key>
			<false/>
			<key>情報生体システム工学実験3</key>
			<false/>
			<key>システム工学英語</key>
			<false/>
			<key>情報倫理学</key>
			<false/>
			<key>情報生体システム工学実験4</key>
			<false/>
			<key>卒業研究</key>
			<false/>
		</dict>
		<dict>
			<key>情報数学</key>
			<false/>
			<key>数値解析</key>
			<false/>
			<key>電気回路学1及び演習</key>
			<false/>
			<key>情報理論</key>
			<false/>
			<key>計算機工学</key>
			<false/>
			<key>電磁気学及び演習</key>
			<false/>
		</dict>
		<dict>
			<key>アルゴリズムとデータ構造</key>
			<false/>
			<key>プログラミング言語2</key>
			<false/>
			<key>ソフトウェア工学</key>
			<false/>
			<key>オペレーティングシステム論</key>
			<false/>
			<key>プログラミング言語2演習</key>
			<false/>
			<key>オートマトンと言語理論</key>
			<false/>
			<key>データベース</key>
			<false/>
		</dict>
		<dict>
			<key>情報論理回路</key>
			<false/>
			<key>計算機ネットワーク</key>
			<false/>
			<key>マルチメディア</key>
			<false/>
			<key>自然言語処理</key>
			<false/>
			<key>計測工学</key>
			<false/>
			<key>人工知能</key>
			<false/>
			<key>情報通信工学</key>
			<false/>
			<key>情報セキュリティ</key>
			<false/>
			<key>信頼性システム</key>
			<false/>
			<key>画像情報工学</key>
			<false/>
			<key>コンピュータグラフィックス</key>
			<false/>
			<key>シミュレーション工学</key>
			<false/>
		</dict>
		<dict>
			<key>生体機構学</key>
			<false/>
			<key>システム工学</key>
			<false/>
			<key>電気回路学2</key>
			<false/>
			<key>生体情報工学1</key>
			<false/>
			<key>電子回路</key>
			<false/>
			<key>計算物理学</key>
			<false/>
			<key>電気化学</key>
			<false/>
			<key>生体情報工学2</key>
			<false/>
			<key>ヒューマンインターフェイス</key>
			<false/>
		</dict>
		<dict>
			<key>化学基礎</key>
			<false/>
			<key>地球科学基礎</key>
			<false/>
			<key>情報生体システム工学特別講義1</key>
			<false/>
			<key>情報生体システム工学特別講義2</key>
			<false/>
			<key>原子力・放射線と環境</key>
			<false/>
			<key>生産工学論</key>
			<false/>
			<key>エレクトロニクス論</key>
			<false/>
			<key>材料科学論</key>
			<false/>
			<key>科学技術論</key>
			<false/>
			<key>環境工学論</key>
			<false/>
			<key>エネルギー工学論</key>
			<false/>
			<key>工場見学</key>
			<false/>
			<key>インターンシップ</key>
			<false/>
		</dict>
	</array>
	<array>
		<dict/>
		<dict/>
		<dict>
			<key>プログラミング序論</key>
			<false/>
			<key>情報生体システム工学基礎</key>
			<false/>
			<key>フレッシュマンセミナー</key>
			<false/>
			<key>確率統計序論</key>
			<false/>
			<key>プログラミング序論演習</key>
			<false/>
			<key>応用数学1</key>
			<false/>
			<key>応用数学1演習</key>
			<false/>
			<key>情報生体システム工学実験1</key>
			<false/>
			<key>応用数学2</key>
			<false/>
			<key>応用数学2演習</key>
			<false/>
			<key>プログラミング言語1</key>
			<false/>
			<key>プログラミング言語1演習</key>
			<false/>
			<key>情報生体システム工学実験2</key>
			<false/>
			<key>情報生体システム工学実験3</key>
			<false/>
			<key>システム工学英語</key>
			<false/>
			<key>情報倫理学</key>
			<false/>
			<key>情報生体システム工学実験4</key>
			<false/>
			<key>卒業研究</key>
			<false/>
		</dict>
		<dict>
			<key>情報数学</key>
			<false/>
			<key>数値解析</key>
			<false/>
			<key>電気回路学1及び演習</key>
			<false/>
			<key>情報理論</key>
			<false/>
			<key>計算機工学</key>
			<false/>
			<key>電磁気学及び演習</key>
			<false/>
		</dict>
		<dict>
			<key>アルゴリズムとデータ構造</key>
			<false/>
			<key>プログラミング言語2</key>
			<false/>
			<key>ソフトウェア工学</key>
			<false/>
			<key>オペレーティングシステム論</key>
			<false/>
			<key>プログラミング言語2演習</key>
			<false/>
			<key>オートマトンと言語理論</key>
			<false/>
			<key>データベース</key>
			<false/>
		</dict>
		<dict>
			<key>情報論理回路</key>
			<false/>
			<key>計算機ネットワーク</key>
			<false/>
			<key>マルチメディア</key>
			<false/>
			<key>自然言語処理</key>
			<false/>
			<key>計測工学</key>
			<false/>
			<key>人工知能</key>
			<false/>
			<key>情報通信工学</key>
			<false/>
			<key>情報セキュリティ</key>
			<false/>
			<key>信頼性システム</key>
			<false/>
			<key>画像情報工学</key>
			<false/>
			<key>コンピュータグラフィックス</key>
			<false/>
			<key>シミュレーション工学</key>
			<false/>
		</dict>
		<dict>
			<key>生体機構学</key>
			<false/>
			<key>システム工学</key>
			<false/>
			<key>電気回路学2</key>
			<false/>
			<key>生体情報工学1</key>
			<false/>
			<key>電子回路</key>
			<false/>
			<key>計算物理学</key>
			<false/>
			<key>電気化学</key>
			<false/>
			<key>生体情報工学2</key>
			<false/>
			<key>ヒューマンインターフェイス</key>
			<false/>
		</dict>
		<dict>
			<key>化学基礎</key>
			<false/>
			<key>地球科学基礎</key>
			<false/>
			<key>情報生体システム工学特別講義1</key>
			<false/>
			<key>情報生体システム工学特別講義2</key>
			<false/>
			<key>原子力・放射線と環境</key>
			<false/>
			<key>生産工学論</key>
			<false/>
			<key>エレクトロニクス論</key>
			<false/>
			<key>材料科学論</key>
			<false/>
			<key>科学技術論</key>
			<false/>
			<key>環境工学論</key>
			<false/>
			<key>エネルギー工学論</key>
			<false/>
			<key>工場見学</key>
			<false/>
			<key>インターンシップ</key>
			<false/>
		</dict>
	</array>
	<array>
		<dict/>
		<dict/>
		<dict>
			<key>プログラミング序論</key>
			<false/>
			<key>情報生体システム工学基礎</key>
			<false/>
			<key>フレッシュマンセミナー</key>
			<false/>
			<key>確率統計序論</key>
			<false/>
			<key>プログラミング序論演習</key>
			<false/>
			<key>応用数学1</key>
			<false/>
			<key>応用数学1演習</key>
			<false/>
			<key>情報生体システム工学実験1</key>
			<false/>
			<key>応用数学2</key>
			<false/>
			<key>応用数学2演習</key>
			<false/>
			<key>プログラミング言語1</key>
			<false/>
			<key>プログラミング言語1演習</key>
			<false/>
			<key>情報生体システム工学実験2</key>
			<false/>
			<key>情報生体システム工学実験3</key>
			<false/>
			<key>システム工学英語</key>
			<false/>
			<key>情報倫理学</key>
			<false/>
			<key>情報生体システム工学実験4</key>
			<false/>
			<key>卒業研究</key>
			<false/>
		</dict>
		<dict>
			<key>情報数学</key>
			<false/>
			<key>数値解析</key>
			<false/>
			<key>電気回路学1及び演習</key>
			<false/>
			<key>情報理論</key>
			<false/>
			<key>計算機工学</key>
			<false/>
			<key>電磁気学及び演習</key>
			<false/>
		</dict>
		<dict>
			<key>アルゴリズムとデータ構造</key>
			<false/>
			<key>プログラミング言語2</key>
			<false/>
			<key>ソフトウェア工学</key>
			<false/>
			<key>オペレーティングシステム論</key>
			<false/>
			<key>プログラミング言語2演習</key>
			<false/>
			<key>オートマトンと言語理論</key>
			<false/>
			<key>データベース</key>
			<false/>
		</dict>
		<dict>
			<key>情報論理回路</key>
			<false/>
			<key>計算機ネットワーク</key>
			<false/>
			<key>マルチメディア</key>
			<false/>
			<key>自然言語処理</key>
			<false/>
			<key>計測工学</key>
			<false/>
			<key>人工知能</key>
			<false/>
			<key>情報通信工学</key>
			<false/>
			<key>情報セキュリティ</key>
			<false/>
			<key>信頼性システム</key>
			<false/>
			<key>画像情報工学</key>
			<false/>
			<key>コンピュータグラフィックス</key>
			<false/>
			<key>シミュレーション工学</key>
			<false/>
		</dict>
		<dict>
			<key>生体機構学</key>
			<false/>
			<key>システム工学</key>
			<false/>
			<key>電気回路学2</key>
			<false/>
			<key>生体情報工学1</key>
			<false/>
			<key>電子回路</key>
			<false/>
			<key>計算物理学</key>
			<false/>
			<key>電気化学</key>
			<false/>
			<key>生体情報工学2</key>
			<false/>
			<key>ヒューマンインターフェイス</key>
			<false/>
		</dict>
		<dict>
			<key>化学基礎</key>
			<false/>
			<key>地球科学基礎</key>
			<false/>
			<key>情報生体システム工学特別講義1</key>
			<false/>
			<key>情報生体システム工学特別講義2</key>
			<false/>
			<key>原子力・放射線と環境</key>
			<false/>
			<key>生産工学論</key>
			<false/>
			<key>エレクトロニクス論</key>
			<false/>
			<key>材料科学論</key>
			<false/>
			<key>科学技術論</key>
			<false/>
			<key>環境工学論</key>
			<false/>
			<key>エネルギー工学論</key>
			<false/>
			<key>工場見学</key>
			<false/>
			<key>インターンシップ</key>
			<false/>
		</dict>
	</array>
	<array>
		<dict/>
		<dict/>
		<dict>
			<key>プログラミング序論</key>
			<false/>
			<key>情報生体システム工学基礎</key>
			<false/>
			<key>フレッシュマンセミナー</key>
			<false/>
			<key>確率統計序論</key>
			<false/>
			<key>プログラミング序論演習</key>
			<false/>
			<key>応用数学1</key>
			<false/>
			<key>応用数学1演習</key>
			<false/>
			<key>情報生体システム工学実験1</key>
			<false/>
			<key>応用数学2</key>
			<false/>
			<key>応用数学2演習</key>
			<false/>
			<key>プログラミング言語1</key>
			<false/>
			<key>プログラミング言語1演習</key>
			<false/>
			<key>情報生体システム工学実験2</key>
			<false/>
			<key>情報生体システム工学実験3</key>
			<false/>
			<key>システム工学英語</key>
			<false/>
			<key>情報倫理学</key>
			<false/>
			<key>情報生体システム工学実験4</key>
			<false/>
			<key>卒業研究</key>
			<false/>
		</dict>
		<dict>
			<key>情報数学</key>
			<false/>
			<key>数値解析</key>
			<false/>
			<key>電気回路学1及び演習</key>
			<false/>
			<key>情報理論</key>
			<false/>
			<key>計算機工学</key>
			<false/>
			<key>電磁気学及び演習</key>
			<false/>
		</dict>
		<dict>
			<key>アルゴリズムとデータ構造</key>
			<false/>
			<key>プログラミング言語2</key>
			<false/>
			<key>ソフトウェア工学</key>
			<false/>
			<key>オペレーティングシステム論</key>
			<false/>
			<key>プログラミング言語2演習</key>
			<false/>
			<key>オートマトンと言語理論</key>
			<false/>
			<key>データベース</key>
			<false/>
		</dict>
		<dict>
			<key>情報論理回路</key>
			<false/>
			<key>計算機ネットワーク</key>
			<false/>
			<key>マルチメディア</key>
			<false/>
			<key>自然言語処理</key>
			<false/>
			<key>計測工学</key>
			<false/>
			<key>人工知能</key>
			<false/>
			<key>情報通信工学</key>
			<false/>
			<key>情報セキュリティ</key>
			<false/>
			<key>信頼性システム</key>
			<false/>
			<key>画像情報工学</key>
			<false/>
			<key>コンピュータグラフィックス</key>
			<false/>
			<key>シミュレーション工学</key>
			<false/>
		</dict>
		<dict>
			<key>生体機構学</key>
			<false/>
			<key>システム工学</key>
			<false/>
			<key>電気回路学2</key>
			<false/>
			<key>生体情報工学1</key>
			<false/>
			<key>電子回路</key>
			<false/>
			<key>計算物理学</key>
			<false/>
			<key>電気化学</key>
			<false/>
			<key>生体情報工学2</key>
			<false/>
			<key>ヒューマンインターフェイス</key>
			<false/>
		</dict>
		<dict>
			<key>化学基礎</key>
			<false/>
			<key>地球科学基礎</key>
			<false/>
			<key>情報生体システム工学特別講義1</key>
			<false/>
			<key>情報生体システム工学特別講義2</key>
			<false/>
			<key>原子力・放射線と環境</key>
			<false/>
			<key>生産工学論</key>
			<false/>
			<key>エレクトロニクス論</key>
			<false/>
			<key>材料科学論</key>
			<false/>
			<key>科学技術論</key>
			<false/>
			<key>環境工学論</key>
			<false/>
			<key>エネルギー工学論</key>
			<false/>
			<key>工場見学</key>
			<false/>
			<key>インターンシップ</key>
			<false/>
		</dict>
	</array>
	<array>
		<dict/>
		<dict/>
		<dict>
			<key>フレッシュマンセミナー1</key>
			<false/>
			<key>電気回路1及び演習</key>
			<false/>
			<key>フレッシュマンセミナー2</key>
			<false/>
			<key>電気回路2及び演習</key>
			<false/>
			<key>応用数学1及び演習</key>
			<false/>
			<key>電気磁気学1及び演習</key>
			<false/>
			<key>量子力学</key>
			<false/>
			<key>コンピュータ工学</key>
			<false/>
			<key>応用数学2及び演習</key>
			<false/>
			<key>電気磁気学2及び演習</key>
			<false/>
			<key>アナログ電子回路</key>
			<false/>
			<key>電子物性基礎</key>
			<false/>
			<key>電気機器学1</key>
			<false/>
			<key>通信工学</key>
			<false/>
			<key>半導体物性</key>
			<false/>
			<key>電気エネルギー工学1</key>
			<false/>
			<key>制御工学</key>
			<false/>
			<key>電気電子工学実験1</key>
			<false/>
			<key>電気電子工学実験2</key>
			<false/>
			<key>電気電子工学実験3</key>
			<false/>
			<key>エンジニアリングデザイン実習</key>
			<false/>
			<key>電気電子英語</key>
			<false/>
			<key>工学倫理</key>
			<false/>
			<key>卒業論文</key>
			<false/>
		</dict>
		<dict>
			<key>原子力・放射線と環境</key>
			<false/>
			<key>生産工学論</key>
			<false/>
			<key>科学技術論</key>
			<false/>
			<key>材料科学論</key>
			<false/>
			<key>エネルギー工学論</key>
			<false/>
			<key>環境工学論</key>
			<false/>
		</dict>
		<dict>
			<key>熱・統計力学</key>
			<false/>
			<key>電気電子計測</key>
			<false/>
			<key>電気化学</key>
			<false/>
			<key>電気磁気学3</key>
			<false/>
			<key>電子材料工学</key>
			<false/>
			<key>電子デバイス工学</key>
			<false/>
			<key>光エレクトロニクス</key>
			<false/>
		</dict>
		<dict>
			<key>電気回路学3</key>
			<false/>
			<key>電気機器学2</key>
			<false/>
			<key>電気エネルギー工学2</key>
			<false/>
			<key>パワーエレクトロニクス</key>
			<false/>
			<key>高電圧・プラズマ工学</key>
			<false/>
			<key>システム制御工学</key>
			<false/>
		</dict>
		<dict>
			<key>プログラム基礎と演習</key>
			<false/>
			<key>デジタル電子回路</key>
			<false/>
			<key>電波工学</key>
			<false/>
			<key>システム工学</key>
			<false/>
			<key>応用数学3</key>
			<false/>
			<key>LSIシステム工学</key>
			<false/>
			<key>プログラム言語</key>
			<false/>
			<key>光通信工学</key>
			<false/>
		</dict>
		<dict>
			<key>電気数学基礎</key>
			<false/>
			<key>化学基礎</key>
			<false/>
			<key>地球化学基礎</key>
			<false/>
			<key>電気電子工学特別講義1</key>
			<false/>
			<key>電気電子工学特別講義2</key>
			<false/>
			<key>インターンシップ</key>
			<false/>
			<key>工場見学</key>
			<false/>
			<key>電気電子設計製図</key>
			<false/>
			<key>電気法規及び施設管理</key>
			<false/>
			<key>電波法</key>
			<false/>
		</dict>
	</array>
</array>
</plist>
