<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<array>
			<string>必修</string>
			<string>選択A群</string>
			<string>選択B群</string>
			<string>選択C群</string>
			<string>選択D群</string>
			<string>選択E群</string>
		</array>
		<array>
			<string>必修</string>
			<string>選択A群</string>
			<string>選択B群</string>
			<string>選択C群</string>
			<string>選択D群</string>
			<string>選択E群</string>
		</array>
		<array>
			<string>必修</string>
			<string>選択A群</string>
			<string>選択B群</string>
			<string>選択C群</string>
			<string>選択D群</string>
			<string>選択E群</string>
		</array>
		<array>
			<string>必修</string>
			<string>選択A群</string>
			<string>選択B群</string>
		</array>
		<array>
			<string>必修</string>
			<string>選択A群</string>
			<string>選択B群</string>
			<string>選択C群</string>
			<string>選択D群</string>
		</array>
		<array>
			<string>必修</string>
			<string>選択A群</string>
			<string>選択B群</string>
			<string>選択C群</string>
		</array>
		<array>
			<string>工学基礎</string>
			<string>化学工学基礎</string>
			<string>専門基礎A</string>
			<string>専門基礎B</string>
			<string>専門</string>
		</array>
	</array>
	<array>
		<array>
			<string>基礎専門</string>
			<string>専門・必修</string>
			<string>専門・選択必修</string>
			<string>専門・選択</string>
		</array>
		<array>
			<string>基礎専門・選択必修</string>
			<string>基礎専門・選択</string>
			<string>専門・必修</string>
			<string>専門・コース共通選択必修</string>
			<string>専門・コース専修選択必修</string>
			<string>専門・選択</string>
		</array>
		<array>
			<string>基礎専門・必修</string>
			<string>基礎専門・選択1</string>
			<string>基礎専門・選択2</string>
			<string>基礎専門・選択3</string>
			<string>専門・必修</string>
			<string>専門・選択</string>
		</array>
		<array>
			<string>基礎専門・必須</string>
			<string>基礎専門・選択</string>
			<string>専門・必修</string>
			<string>専門・選択[共通]</string>
			<string>専門・選択[地球コース]</string>
			<string>専門・選択[環境コース]</string>
		</array>
	</array>
	<array>
		<array>
			<string>必修(講義)</string>
			<string>必修(実習)</string>
			<string>選択(講義・実習)</string>
		</array>
		<array>
			<string>必修(講義)</string>
			<string>必修(実習)</string>
			<string>選択(講義・実習)</string>
		</array>
		<array>
			<string>必修(講義)</string>
			<string>必修(実習)</string>
			<string>選択(講義・実習)</string>
		</array>
		<array>
			<string>学部共通必修(講義)</string>
			<string>学部共通必修(実習)</string>
			<string>必修(講義)</string>
			<string>必修(実習)</string>
			<string>選択</string>
		</array>
		<array>
			<string>学科共通必修(講義)</string>
			<string>学科共通必修(実習)</string>
			<string>必修(講義)</string>
			<string>必修(実習)</string>
			<string>選択</string>
		</array>
		<array>
			<string>学科共通必修(講義)</string>
			<string>学科共通必修(実習)</string>
			<string>必修(講義)</string>
			<string>必修(実習)</string>
			<string>選択</string>
		</array>
		<array>
			<string>学部共通必修(講義)</string>
			<string>学部共通必修(実習)</string>
			<string>必修(講義)</string>
			<string>必修(実習)</string>
			<string>選択</string>
		</array>
		<array>
			<string>必修(講義)</string>
			<string>必修(実習)</string>
			<string>選択(講義・実習)</string>
		</array>
		<array>
			<string>必修(講義)</string>
			<string>必修(実習)</string>
			<string>選択(講義・実習)</string>
		</array>
		<array>
			<string>必修(講義)</string>
			<string>必修(実習)</string>
			<string>選択(講義・実習)</string>
		</array>
	</array>
	<array>
		<array>
			<string>学部共通基礎</string>
			<string>教職理解</string>
			<string>教科教育</string>
			<string>小学校教科専門</string>
			<string>専修専門</string>
			<string>教育実施研究</string>
			<string>卒業論文</string>
		</array>
	</array>
	<array>
		<array>
			<string>必修</string>
			<string>選択</string>
		</array>
		<array>
			<string>必修</string>
			<string>選択</string>
		</array>
		<array>
			<string>フレッシュマン・プログラム(必修)</string>
			<string>キャリア・プログラム(選択必修)</string>
			<string>アカデミック・プログラム(必修)</string>
			<string>アカデミック・プログラム(コース選択)</string>
		</array>
		<array>
			<string>フレッシュマン・プログラム(必修)</string>
			<string>キャリア・プログラム(選択必修)</string>
			<string>アカデミック・プログラム(必修)</string>
			<string>アカデミック・プログラム(コース選択)</string>
		</array>
		<array>
			<string>フレッシュマン・プログラム(必修)</string>
			<string>キャリア・プログラム(選択必修)</string>
			<string>アカデミック・プログラム(必修)</string>
			<string>アカデミック・プログラム(コース選択)</string>
		</array>
		<array>
			<string>フレッシュマン・プログラム(必修)</string>
			<string>キャリア・プログラム(選択必修)</string>
			<string>アカデミック・プログラム(必修)</string>
			<string>アカデミック・プログラム(コース選択)</string>
		</array>
		<array>
			<string>フレッシュマン・プログラム(必修)</string>
			<string>キャリア・プログラム(選択必修)</string>
			<string>アカデミック・プログラム(必修)</string>
			<string>アカデミック・プログラム(コース選択)</string>
		</array>
	</array>
</array>
</plist>
