<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>フレッシュマンセミナー1</key>
			<false/>
			<key>工業力学1及び演習</key>
			<false/>
			<key>工業力学2及び演習</key>
			<false/>
			<key>材料力学基礎及び演習</key>
			<false/>
			<key>工業熱力学基礎及び演習</key>
			<false/>
			<key>応用数学1及び演習</key>
			<false/>
			<key>電気電子工学基礎</key>
			<false/>
			<key>応用数学2及び演習</key>
			<false/>
			<key>機械力学基礎及び演習</key>
			<false/>
			<key>流体力学基礎及び演習</key>
			<false/>
			<key>機械材料学基礎</key>
			<false/>
			<key>材料力学</key>
			<false/>
			<key>機構学</key>
			<false/>
			<key>計測工学</key>
			<false/>
			<key>工業熱力学</key>
			<false/>
			<key>機械制御工学基礎及び演習</key>
			<false/>
			<key>3次元CAD基礎</key>
			<false/>
			<key>機械設計工学</key>
			<false/>
			<key>機械材料学</key>
			<false/>
			<key>機械力学</key>
			<false/>
			<key>生産工学1</key>
			<false/>
			<key>弾性力学</key>
			<false/>
			<key>熱機関</key>
			<false/>
			<key>流体力学</key>
			<false/>
			<key>生産工学2</key>
			<false/>
			<key>機械制御工学</key>
			<false/>
			<key>ロボット工学</key>
			<false/>
			<key>メカトロニクス</key>
			<false/>
			<key>流体機械</key>
			<false/>
			<key>材料工学セミナー</key>
			<false/>
			<key>生産工学セミナー</key>
			<false/>
			<key>熱工学セミナー</key>
			<false/>
			<key>流体工学セミナー</key>
			<false/>
			<key>機械システム設計解析セミナー</key>
			<false/>
			<key>機械システム計測制御セミナー</key>
			<false/>
		</dict>
		<dict>
			<key>情報工学通論</key>
			<false/>
			<key>情報システム</key>
			<false/>
			<key>化学基礎</key>
			<false/>
			<key>地球科学基礎</key>
			<false/>
			<key>原子力・放射線と環境</key>
			<false/>
			<key>工場見学</key>
			<false/>
			<key>インターンシップ</key>
			<false/>
			<key>生産工学論</key>
			<false/>
			<key>エレクトロニクス論</key>
			<false/>
			<key>エネルギー工学論</key>
			<false/>
			<key>環境工学論</key>
			<false/>
			<key>材料科学論</key>
			<false/>
			<key>科学技術論</key>
			<false/>
		</dict>
	</array>
	<array>
		<dict>
			<key>フレッシュマンセミナー1</key>
			<false/>
			<key>工業力学1及び演習</key>
			<false/>
			<key>工業力学2及び演習</key>
			<false/>
			<key>材料力学基礎及び演習</key>
			<false/>
			<key>工業熱力学基礎及び演習</key>
			<false/>
			<key>応用数学1及び演習</key>
			<false/>
			<key>電気電子工学基礎</key>
			<false/>
			<key>応用数学2及び演習</key>
			<false/>
			<key>機械力学基礎及び演習</key>
			<false/>
			<key>流体力学基礎及び演習</key>
			<false/>
			<key>機械材料学基礎</key>
			<false/>
			<key>材料力学</key>
			<false/>
			<key>機構学</key>
			<false/>
			<key>計測工学</key>
			<false/>
			<key>工業熱力学</key>
			<false/>
			<key>機械制御工学基礎及び演習</key>
			<false/>
			<key>3次元CAD基礎</key>
			<false/>
			<key>機械設計工学</key>
			<false/>
			<key>機械材料学</key>
			<false/>
			<key>機械力学</key>
			<false/>
			<key>生産工学1</key>
			<false/>
			<key>弾性力学</key>
			<false/>
			<key>熱機関</key>
			<false/>
			<key>流体力学</key>
			<false/>
			<key>生産工学2</key>
			<false/>
			<key>機械制御工学</key>
			<false/>
			<key>ロボット工学</key>
			<false/>
			<key>メカトロニクス</key>
			<false/>
			<key>流体機械</key>
			<false/>
			<key>材料工学セミナー</key>
			<false/>
			<key>生産工学セミナー</key>
			<false/>
			<key>熱工学セミナー</key>
			<false/>
			<key>流体工学セミナー</key>
			<false/>
			<key>機械システム設計解析セミナー</key>
			<false/>
			<key>機械システム計測制御セミナー</key>
			<false/>
		</dict>
		<dict>
			<key>情報工学通論</key>
			<false/>
			<key>情報システム</key>
			<false/>
			<key>化学基礎</key>
			<false/>
			<key>地球科学基礎</key>
			<false/>
			<key>原子力・放射線と環境</key>
			<false/>
			<key>工場見学</key>
			<false/>
			<key>インターンシップ</key>
			<false/>
			<key>生産工学論</key>
			<false/>
			<key>エレクトロニクス論</key>
			<false/>
			<key>エネルギー工学論</key>
			<false/>
			<key>環境工学論</key>
			<false/>
			<key>材料科学論</key>
			<false/>
			<key>科学技術論</key>
			<false/>
		</dict>
	</array>
	<array>
		<dict>
			<key>フレッシュマンセミナー</key>
			<false/>
			<key>有機化学基礎</key>
			<false/>
			<key>無機化学基礎</key>
			<false/>
			<key>物理化学基礎</key>
			<false/>
			<key>応用数学1</key>
			<false/>
			<key>物理化学1</key>
			<false/>
			<key>化学工学基礎</key>
			<false/>
			<key>有機化学1</key>
			<false/>
			<key>物理化学2</key>
			<false/>
			<key>化学生命工学実験</key>
			<false/>
			<key>工学英語1</key>
			<false/>
			<key>化学情報分析実習</key>
			<false/>
			<key>化学生命工学セミナー1</key>
			<false/>
			<key>工学英語2</key>
			<false/>
			<key>化学生命工学セミナー2</key>
			<false/>
			<key>化学生命工学特別研究1</key>
			<false/>
			<key>工学倫理</key>
			<false/>
			<key>化学生命工学特別研究2</key>
			<false/>
			<key>卒業論文</key>
			<false/>
		</dict>
		<dict>
			<key>情報システム</key>
			<false/>
			<key>地球科学基礎</key>
			<false/>
			<key>原子力・放射線と環境</key>
			<false/>
			<key>生産工学論</key>
			<false/>
			<key>エレクトロニクス論</key>
			<false/>
			<key>科学技術論</key>
			<false/>
			<key>環境工学論</key>
			<false/>
			<key>材料科学論</key>
			<false/>
			<key>エネルギー工学論</key>
			<false/>
		</dict>
		<dict>
			<key>生物学概論</key>
			<false/>
			<key>量子化学</key>
			<false/>
			<key>生物化学1</key>
			<false/>
			<key>高分子化学</key>
			<false/>
			<key>生体分子化学</key>
			<false/>
			<key>無機化学</key>
			<false/>
			<key>有機化学2</key>
			<false/>
			<key>生物化学2</key>
			<false/>
			<key>化学計測1</key>
			<false/>
			<key>生命化学プログラミング</key>
			<false/>
			<key>有機化学3</key>
			<false/>
			<key>分析化学</key>
			<false/>
		</dict>
		<dict>
			<key>化学生命工学キャリアデザイン</key>
			<false/>
			<key>有機工業化学</key>
			<false/>
			<key>界面科学</key>
			<false/>
			<key>量子物理化学</key>
			<false/>
			<key>生体分子計測学</key>
			<false/>
			<key>分子生物学</key>
			<false/>
			<key>化学計測2</key>
			<false/>
			<key>医工学概論</key>
			<false/>
			<key>反応速度論</key>
			<false/>
			<key>機能材料化学</key>
			<false/>
			<key>環境化学工学</key>
			<false/>
			<key>移動現象基礎</key>
			<false/>
			<key>微生物学</key>
			<false/>
			<key>化学生命工学研究基礎</key>
			<false/>
			<key>学外実習</key>
			<false/>
		</dict>
	</array>
	<array>
		<dict>
			<key>フレッシュマンセミナー</key>
			<false/>
			<key>有機化学基礎</key>
			<false/>
			<key>無機化学基礎</key>
			<false/>
			<key>物理化学基礎</key>
			<false/>
			<key>応用数学1</key>
			<false/>
			<key>物理化学1</key>
			<false/>
			<key>化学工学基礎</key>
			<false/>
			<key>有機化学1</key>
			<false/>
			<key>物理化学2</key>
			<false/>
			<key>化学生命工学実験</key>
			<false/>
			<key>工学英語1</key>
			<false/>
			<key>化学情報分析実習</key>
			<false/>
			<key>化学生命工学セミナー1</key>
			<false/>
			<key>工学英語2</key>
			<false/>
			<key>化学生命工学セミナー2</key>
			<false/>
			<key>化学生命工学特別研究1</key>
			<false/>
			<key>工学倫理</key>
			<false/>
			<key>化学生命工学特別研究2</key>
			<false/>
			<key>卒業論文</key>
			<false/>
		</dict>
		<dict>
			<key>情報システム</key>
			<false/>
			<key>地球科学基礎</key>
			<false/>
			<key>原子力・放射線と環境</key>
			<false/>
			<key>生産工学論</key>
			<false/>
			<key>エレクトロニクス論</key>
			<false/>
			<key>科学技術論</key>
			<false/>
			<key>環境工学論</key>
			<false/>
			<key>材料科学論</key>
			<false/>
			<key>エネルギー工学論</key>
			<false/>
		</dict>
		<dict>
			<key>生物学概論</key>
			<false/>
			<key>量子化学</key>
			<false/>
			<key>生物化学1</key>
			<false/>
			<key>高分子化学</key>
			<false/>
			<key>生体分子化学</key>
			<false/>
			<key>無機化学</key>
			<false/>
			<key>有機化学2</key>
			<false/>
			<key>生物化学2</key>
			<false/>
			<key>化学計測1</key>
			<false/>
			<key>生命化学プログラミング</key>
			<false/>
			<key>有機化学3</key>
			<false/>
			<key>分析化学</key>
			<false/>
		</dict>
		<dict>
			<key>化学生命工学キャリアデザイン</key>
			<false/>
			<key>有機工業化学</key>
			<false/>
			<key>界面科学</key>
			<false/>
			<key>量子物理化学</key>
			<false/>
			<key>生体分子計測学</key>
			<false/>
			<key>分子生物学</key>
			<false/>
			<key>化学計測2</key>
			<false/>
			<key>医工学概論</key>
			<false/>
			<key>反応速度論</key>
			<false/>
			<key>機能材料化学</key>
			<false/>
			<key>環境化学工学</key>
			<false/>
			<key>移動現象基礎</key>
			<false/>
			<key>微生物学</key>
			<false/>
			<key>化学生命工学研究基礎</key>
			<false/>
			<key>学外実習</key>
			<false/>
		</dict>
	</array>
	<array>
		<dict>
			<key>フレッシュマンセミナー</key>
			<false/>
			<key>有機化学基礎</key>
			<false/>
			<key>無機化学基礎</key>
			<false/>
			<key>物理化学基礎</key>
			<false/>
			<key>応用数学1</key>
			<false/>
			<key>物理化学1</key>
			<false/>
			<key>化学工学基礎</key>
			<false/>
			<key>有機化学1</key>
			<false/>
			<key>物理化学2</key>
			<false/>
			<key>化学生命工学実験</key>
			<false/>
			<key>工学英語1</key>
			<false/>
			<key>化学情報分析実習</key>
			<false/>
			<key>化学生命工学セミナー1</key>
			<false/>
			<key>工学英語2</key>
			<false/>
			<key>化学生命工学セミナー2</key>
			<false/>
			<key>化学生命工学特別研究1</key>
			<false/>
			<key>工学倫理</key>
			<false/>
			<key>化学生命工学特別研究2</key>
			<false/>
			<key>卒業論文</key>
			<false/>
		</dict>
		<dict>
			<key>情報システム</key>
			<false/>
			<key>地球科学基礎</key>
			<false/>
			<key>原子力・放射線と環境</key>
			<false/>
			<key>生産工学論</key>
			<false/>
			<key>エレクトロニクス論</key>
			<false/>
			<key>科学技術論</key>
			<false/>
			<key>環境工学論</key>
			<false/>
			<key>材料科学論</key>
			<false/>
			<key>エネルギー工学論</key>
			<false/>
		</dict>
		<dict>
			<key>生物学概論</key>
			<false/>
			<key>量子化学</key>
			<false/>
			<key>生物化学1</key>
			<false/>
			<key>高分子化学</key>
			<false/>
			<key>生体分子化学</key>
			<false/>
			<key>無機化学</key>
			<false/>
			<key>有機化学2</key>
			<false/>
			<key>生物化学2</key>
			<false/>
			<key>化学計測1</key>
			<false/>
			<key>生命化学プログラミング</key>
			<false/>
			<key>有機化学3</key>
			<false/>
			<key>分析化学</key>
			<false/>
		</dict>
		<dict>
			<key>化学生命工学キャリアデザイン</key>
			<false/>
			<key>有機工業化学</key>
			<false/>
			<key>界面科学</key>
			<false/>
			<key>量子物理化学</key>
			<false/>
			<key>生体分子計測学</key>
			<false/>
			<key>分子生物学</key>
			<false/>
			<key>化学計測2</key>
			<false/>
			<key>医工学概論</key>
			<false/>
			<key>反応速度論</key>
			<false/>
			<key>機能材料化学</key>
			<false/>
			<key>環境化学工学</key>
			<false/>
			<key>移動現象基礎</key>
			<false/>
			<key>微生物学</key>
			<false/>
			<key>化学生命工学研究基礎</key>
			<false/>
			<key>学外実習</key>
			<false/>
		</dict>
	</array>
	<array>
		<dict>
			<key>フレッシュマンセミナー</key>
			<false/>
			<key>有機化学基礎</key>
			<false/>
			<key>無機化学基礎</key>
			<false/>
			<key>物理化学基礎</key>
			<false/>
			<key>応用数学1</key>
			<false/>
			<key>物理化学1</key>
			<false/>
			<key>化学工学基礎</key>
			<false/>
			<key>有機化学1</key>
			<false/>
			<key>物理化学2</key>
			<false/>
			<key>化学生命工学実験</key>
			<false/>
			<key>工学英語1</key>
			<false/>
			<key>化学情報分析実習</key>
			<false/>
			<key>化学生命工学セミナー1</key>
			<false/>
			<key>工学英語2</key>
			<false/>
			<key>化学生命工学セミナー2</key>
			<false/>
			<key>化学生命工学特別研究1</key>
			<false/>
			<key>工学倫理</key>
			<false/>
			<key>化学生命工学特別研究2</key>
			<false/>
			<key>卒業論文</key>
			<false/>
		</dict>
		<dict>
			<key>情報システム</key>
			<false/>
			<key>地球科学基礎</key>
			<false/>
			<key>原子力・放射線と環境</key>
			<false/>
			<key>生産工学論</key>
			<false/>
			<key>エレクトロニクス論</key>
			<false/>
			<key>科学技術論</key>
			<false/>
			<key>環境工学論</key>
			<false/>
			<key>材料科学論</key>
			<false/>
			<key>エネルギー工学論</key>
			<false/>
		</dict>
		<dict>
			<key>生物学概論</key>
			<false/>
			<key>量子化学</key>
			<false/>
			<key>生物化学1</key>
			<false/>
			<key>高分子化学</key>
			<false/>
			<key>生体分子化学</key>
			<false/>
			<key>無機化学</key>
			<false/>
			<key>有機化学2</key>
			<false/>
			<key>生物化学2</key>
			<false/>
			<key>化学計測1</key>
			<false/>
			<key>生命化学プログラミング</key>
			<false/>
			<key>有機化学3</key>
			<false/>
			<key>分析化学</key>
			<false/>
		</dict>
		<dict>
			<key>化学生命工学キャリアデザイン</key>
			<false/>
			<key>有機工業化学</key>
			<false/>
			<key>界面科学</key>
			<false/>
			<key>量子物理化学</key>
			<false/>
			<key>生体分子計測学</key>
			<false/>
			<key>分子生物学</key>
			<false/>
			<key>化学計測2</key>
			<false/>
			<key>医工学概論</key>
			<false/>
			<key>反応速度論</key>
			<false/>
			<key>機能材料化学</key>
			<false/>
			<key>環境化学工学</key>
			<false/>
			<key>移動現象基礎</key>
			<false/>
			<key>微生物学</key>
			<false/>
			<key>化学生命工学研究基礎</key>
			<false/>
			<key>学外実習</key>
			<false/>
		</dict>
	</array>
	<array>
		<dict>
			<key>フレッシュマンセミナー</key>
			<false/>
			<key>有機化学基礎</key>
			<false/>
			<key>無機化学基礎</key>
			<false/>
			<key>物理化学基礎</key>
			<false/>
			<key>応用数学1</key>
			<false/>
			<key>物理化学1</key>
			<false/>
			<key>化学工学基礎</key>
			<false/>
			<key>有機化学1</key>
			<false/>
			<key>物理化学2</key>
			<false/>
			<key>化学生命工学実験</key>
			<false/>
			<key>工学英語1</key>
			<false/>
			<key>化学情報分析実習</key>
			<false/>
			<key>化学生命工学セミナー1</key>
			<false/>
			<key>工学英語2</key>
			<false/>
			<key>化学生命工学セミナー2</key>
			<false/>
			<key>化学生命工学特別研究1</key>
			<false/>
			<key>工学倫理</key>
			<false/>
			<key>化学生命工学特別研究2</key>
			<false/>
			<key>卒業論文</key>
			<false/>
		</dict>
		<dict>
			<key>情報システム</key>
			<false/>
			<key>地球科学基礎</key>
			<false/>
			<key>原子力・放射線と環境</key>
			<false/>
			<key>生産工学論</key>
			<false/>
			<key>エレクトロニクス論</key>
			<false/>
			<key>科学技術論</key>
			<false/>
			<key>環境工学論</key>
			<false/>
			<key>材料科学論</key>
			<false/>
			<key>エネルギー工学論</key>
			<false/>
		</dict>
		<dict>
			<key>生物学概論</key>
			<false/>
			<key>量子化学</key>
			<false/>
			<key>生物化学1</key>
			<false/>
			<key>高分子化学</key>
			<false/>
			<key>生体分子化学</key>
			<false/>
			<key>無機化学</key>
			<false/>
			<key>有機化学2</key>
			<false/>
			<key>生物化学2</key>
			<false/>
			<key>化学計測1</key>
			<false/>
			<key>生命化学プログラミング</key>
			<false/>
			<key>有機化学3</key>
			<false/>
			<key>分析化学</key>
			<false/>
		</dict>
		<dict>
			<key>化学生命工学キャリアデザイン</key>
			<false/>
			<key>有機工業化学</key>
			<false/>
			<key>界面科学</key>
			<false/>
			<key>量子物理化学</key>
			<false/>
			<key>生体分子計測学</key>
			<false/>
			<key>分子生物学</key>
			<false/>
			<key>化学計測2</key>
			<false/>
			<key>医工学概論</key>
			<false/>
			<key>反応速度論</key>
			<false/>
			<key>機能材料化学</key>
			<false/>
			<key>環境化学工学</key>
			<false/>
			<key>移動現象基礎</key>
			<false/>
			<key>微生物学</key>
			<false/>
			<key>化学生命工学研究基礎</key>
			<false/>
			<key>学外実習</key>
			<false/>
		</dict>
	</array>
</array>
</plist>
