<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>数学演習1</key>
			<false/>
			<key>数理情報基礎A1</key>
			<false/>
			<key>数学演習2</key>
			<false/>
			<key>数理情報基礎A2</key>
			<false/>
			<key>数理情報基礎B1</key>
			<false/>
			<key>数理情報科学セミナー</key>
			<false/>
			<key>数学演習3</key>
			<false/>
			<key>微分積分学続論</key>
			<false/>
			<key>線形代数学続論</key>
			<false/>
			<key>数理情報基礎A3</key>
			<false/>
			<key>数理情報基礎B2</key>
			<false/>
			<key>数理情報基礎B3</key>
			<false/>
		</dict>
		<dict>
			<key>数理情報科学特別演習A</key>
			<false/>
			<key>数理情報科学特別演習B</key>
			<false/>
		</dict>
		<dict>
			<key>解析学1</key>
			<false/>
			<key>解析学1演習</key>
			<false/>
			<key>代数学1</key>
			<false/>
			<key>代数学1演習</key>
			<false/>
			<key>位相数学1</key>
			<false/>
			<key>位相数学1演習</key>
			<false/>
			<key>幾何学1</key>
			<false/>
			<key>幾何学1演習</key>
			<false/>
			<key>確率論1</key>
			<false/>
			<key>確率論1演習</key>
			<false/>
		</dict>
		<dict>
			<key>数理科学入門</key>
			<false/>
			<key>情報科学入門</key>
			<false/>
			<key>複素解析学1</key>
			<false/>
			<key>数理統計学1</key>
			<false/>
			<key>情報数学1</key>
			<false/>
			<key>解析学2</key>
			<false/>
			<key>代数学2</key>
			<false/>
			<key>位相数学2</key>
			<false/>
			<key>幾何学2</key>
			<false/>
			<key>確率論2</key>
			<false/>
			<key>複素解析学2</key>
			<false/>
			<key>数理統計学2</key>
			<false/>
			<key>情報数学2</key>
			<false/>
			<key>情報化社会の職業倫理</key>
			<false/>
			<key>計算数学A</key>
			<false/>
			<key>情報数理学A</key>
			<false/>
			<key>情報理論</key>
			<false/>
			<key>システム理論</key>
			<false/>
			<key>情報化社会及び情報倫理</key>
			<false/>
			<key>確率論3</key>
			<false/>
			<key>計算数学C</key>
			<false/>
			<key>情報数理学B</key>
			<false/>
			<key>実験数理情報学A</key>
			<false/>
			<key>数理統計学3</key>
			<false/>
			<key>情報数学3</key>
			<false/>
			<key>実験数理情報学B</key>
			<false/>
			<key>社会数理学</key>
			<false/>
			<key>計算機統計学</key>
			<false/>
			<key>応用プログラミング</key>
			<false/>
			<key>数理科学特別講義</key>
			<false/>
			<key>情報科学特別講義</key>
			<false/>
		</dict>
	</array>
	<array>
		<dict>
			<key>電気と磁気の現象</key>
			<false/>
			<key>熱力学</key>
			<false/>
			<key>物理実験学</key>
			<false/>
			<key>物理数学の基礎</key>
			<false/>
			<key>量子論入門</key>
			<false/>
		</dict>
		<dict>
			<key>新しい物質観</key>
			<false/>
			<key>物理科学の世界</key>
			<false/>
			<key>基本物理数学演習</key>
			<false/>
			<key>プログラミング基礎演習</key>
			<false/>
			<key>物理学概論</key>
			<false/>
			<key>宇宙科学基礎演習</key>
			<false/>
		</dict>
		<dict>
			<key>物理計測実験</key>
			<false/>
		</dict>
		<dict>
			<key>電磁気学</key>
			<false/>
			<key>波と振動の物理学</key>
			<false/>
			<key>物理数学</key>
			<false/>
			<key>統計物理学</key>
			<false/>
			<key>量子力学</key>
			<false/>
		</dict>
		<dict>
			<key>物理学特別研究</key>
			<false/>
			<key>情報物理特別研究</key>
			<false/>
			<key>宇宙科学特別研究</key>
			<false/>
			<key>宇宙情報特別研究</key>
			<false/>
		</dict>
		<dict>
			<key>「公開講座」実習</key>
			<false/>
			<key>情報物理演習2</key>
			<false/>
			<key>知的財産権と科学</key>
			<false/>
			<key>天文学概論</key>
			<false/>
			<key>物理学演習1</key>
			<false/>
			<key>インターネットと物理英語</key>
			<false/>
			<key>宇宙情報システム</key>
			<false/>
			<key>情報物理演習1</key>
			<false/>
			<key>非平衡系の科学</key>
			<false/>
			<key>宇宙科学セミナー</key>
			<false/>
			<key>科学ジャーナリズム</key>
			<false/>
			<key>恒星・銀河天文学</key>
			<false/>
			<key>固体物理1</key>
			<false/>
			<key>コンピュータ計測実験</key>
			<false/>
			<key>シミュレーション物理学入門</key>
			<false/>
			<key>情報化社会の職業倫理</key>
			<false/>
			<key>情報計測科学</key>
			<false/>
			<key>情報メディアとインターネット</key>
			<false/>
			<key>電波計測工学</key>
			<false/>
			<key>物理学演習2</key>
			<false/>
			<key>情報社会と科学</key>
			<false/>
			<key>宇宙物理学総論</key>
			<false/>
			<key>固体物理2</key>
			<false/>
			<key>情報化社会及び情報倫理</key>
			<false/>
			<key>相対論</key>
			<false/>
			<key>測地論</key>
			<false/>
			<key>続・量子力学</key>
			<false/>
			<key>天体観測実習</key>
			<false/>
			<key>非線形現象の科学</key>
			<false/>
			<key>物性実験</key>
			<false/>
			<key>物理学特別ゼミ</key>
			<false/>
			<key>物理セミナー</key>
			<false/>
			<key>プログラミング応用演習</key>
			<false/>
			<key>測地測量学</key>
			<false/>
			<key>物理科学特別講義</key>
			<false/>
			<key>宇宙物理学特別セミナー</key>
			<false/>
		</dict>
	</array>
	<array>
		<dict>
			<key>フレッシュマンセミナー</key>
			<false/>
			<key>建築計画基礎演習</key>
			<false/>
			<key>設計基礎演習1</key>
			<false/>
			<key>建築構法</key>
			<false/>
			<key>設計基礎演習2</key>
			<false/>
			<key>建築の数学</key>
			<false/>
			<key>建築計画</key>
			<false/>
			<key>環境計画1</key>
			<false/>
			<key>構造力学1</key>
			<false/>
			<key>建築設計1</key>
			<false/>
			<key>建築史</key>
			<false/>
			<key>環境工学1</key>
			<false/>
			<key>構造力学2</key>
			<false/>
			<key>建築構造のしくみ</key>
			<false/>
			<key>建築材料</key>
			<false/>
			<key>建築設計2</key>
			<false/>
			<key>設備計画1</key>
			<false/>
			<key>鉄骨構造</key>
			<false/>
			<key>建築設計3</key>
			<false/>
			<key>建築施工</key>
			<false/>
			<key>都市計画</key>
			<false/>
			<key>鉄筋コンクリート構造</key>
			<false/>
			<key>建築振動と防災</key>
			<false/>
			<key>建築設計4</key>
			<false/>
			<key>建築英語2</key>
			<false/>
			<key>建築未来学概論</key>
			<false/>
			<key>建築と倫理</key>
			<false/>
			<key>建築法規</key>
			<false/>
			<key>卒業論文</key>
			<false/>
			<key>卒業設計</key>
			<false/>
		</dict>
		<dict>
			<key>地域施設計画</key>
			<false/>
			<key>学外実習</key>
			<false/>
			<key>地域環境史</key>
			<false/>
		</dict>
		<dict>
			<key>環境計画2</key>
			<false/>
			<key>環境工学2</key>
			<false/>
			<key>設備計画2</key>
			<false/>
			<key>設備計画演習</key>
			<false/>
		</dict>
		<dict>
			<key>建築デジタルデザイン論</key>
			<false/>
			<key>建築デザイン</key>
			<false/>
			<key>構造力学演習1</key>
			<false/>
			<key>構造力学演習2</key>
			<false/>
			<key>構造力学3</key>
			<false/>
			<key>建築材料の科学</key>
			<false/>
			<key>構造設計</key>
			<false/>
			<key>建築実験</key>
			<false/>
			<key>プログラミング演習</key>
			<false/>
			<key>基礎構造</key>
			<false/>
			<key>鉄筋コンクリート構造演習</key>
			<false/>
			<key>建築物の耐震設計</key>
			<false/>
			<key>インターンシップ</key>
			<false/>
		</dict>
		<dict>
			<key>情報システム</key>
			<false/>
			<key>化学基礎</key>
			<false/>
			<key>地球科学基礎</key>
			<false/>
		</dict>
		<dict>
			<key>原子力・放射線と環境</key>
			<false/>
			<key>生産工学論</key>
			<false/>
			<key>エレクトロニクス論</key>
			<false/>
			<key>環境工学論</key>
			<false/>
			<key>材料科学論</key>
			<false/>
			<key>科学技術論</key>
			<false/>
			<key>エネルギー論</key>
			<false/>
		</dict>
	</array>
	<array>
		<dict>
			<key>生命化学への招待</key>
			<false/>
			<key>科学論文購読法(生命化学)</key>
			<false/>
		</dict>
		<dict>
			<key>有機化学1</key>
			<false/>
			<key>有機化学2</key>
			<false/>
			<key>基礎量子化学</key>
			<false/>
			<key>現代無機化学</key>
			<false/>
			<key>反応速度論</key>
			<false/>
			<key>物質生化学</key>
			<false/>
			<key>タンパク質化学</key>
			<false/>
		</dict>
		<dict>
			<key>分子生物学入門</key>
			<false/>
			<key>細胞生物学入門</key>
			<false/>
			<key>動物生理学</key>
			<false/>
			<key>植物生理学概論</key>
			<false/>
			<key>遺伝学</key>
			<false/>
			<key>細胞生物学</key>
			<false/>
			<key>神経生理学</key>
			<false/>
		</dict>
		<dict>
			<key>化学概論</key>
			<false/>
			<key>生物学概論</key>
			<false/>
		</dict>
		<dict>
			<key>生命化学基礎実験</key>
			<false/>
			<key>分析化学実験</key>
			<false/>
			<key>発生細胞学実験</key>
			<false/>
			<key>微生物生化学実験</key>
			<false/>
			<key>物理化学実験</key>
			<false/>
			<key>有機化学実験</key>
			<false/>
			<key>生化学実験</key>
			<false/>
			<key>情報生理学実験</key>
			<false/>
			<key>生命化学演習1</key>
			<false/>
			<key>生命化学演習2</key>
			<false/>
			<key>生命化学演習3</key>
			<false/>
			<key>生命化学演習4</key>
			<false/>
			<key>生命化学論文購読</key>
			<false/>
			<key>生命化学特別研究</key>
			<false/>
		</dict>
		<dict>
			<key>基礎溶液化学</key>
			<false/>
			<key>遺伝子科学</key>
			<false/>
			<key>生物海洋学</key>
			<false/>
			<key>有機化学3</key>
			<false/>
			<key>化学熱力学</key>
			<false/>
			<key>応用量子化学</key>
			<false/>
			<key>精密合成化学</key>
			<false/>
			<key>生命共生論</key>
			<false/>
			<key>植物生態学</key>
			<false/>
			<key>有機化学4</key>
			<false/>
			<key>発生生物学</key>
			<false/>
			<key>内分泌学</key>
			<false/>
			<key>イオン溶液論</key>
			<false/>
			<key>有機分光学</key>
			<false/>
			<key>生体エネルギー論</key>
			<false/>
			<key>酵素化学</key>
			<false/>
			<key>分析化学入門</key>
			<false/>
			<key>細胞調節論</key>
			<false/>
			<key>遺伝子工学</key>
			<false/>
			<key>行動生態学</key>
			<false/>
			<key>古生物学</key>
			<false/>
			<key>海洋生物学実験</key>
			<false/>
			<key>地域自然環境実習</key>
			<false/>
			<key>生体有機化学</key>
			<false/>
			<key>代謝生化学</key>
			<false/>
			<key>環境化学</key>
			<false/>
			<key>感覚情報学</key>
			<false/>
			<key>植物生理化学</key>
			<false/>
			<key>脳科学</key>
			<false/>
			<key>遺伝子発現のしくみ</key>
			<false/>
			<key>微生物学</key>
			<false/>
			<key>生命情報学</key>
			<false/>
			<key>生物地理学</key>
			<false/>
			<key>生命化学特別講義</key>
			<false/>
			<key>生物学特別実習</key>
			<false/>
		</dict>
	</array>
</array>
</plist>
